In [1]:
import docx2txt

In [2]:
docx2txt.process('./prueba1.docx')

'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac sapien sed neque imperdiet placerat. Maecenas hendrerit orci eget sodales tristique. Curabitur vehicula ante convallis, dapibus mauris id, tempor odio. Ut pulvinar, ex vel accumsan finibus, ante mi pulvinar nisl, quis varius tellus neque a nibh. Sed ut imperdiet ipsum. In sit amet sapien ac lorem semper vestibulum imperdiet imperdiet leo. Morbi aliquam eleifend gravida. Suspendisse potenti. Etiam vitae risus imperdiet nunc malesuada gravida. Praesent et rhoncus risus. In mollis nibh dapibus quam dictum rutrum. \n\nVivamus pellentesque efficitur urna aliquet euismod. Vivamus finibus purus et eros semper, et mollis velit aliquam. Donec pellentesque, felis at consectetur scelerisque, magna odio lacinia sem, non iaculis libero felis id metus. Curabitur ut dui in lorem porta lobortis et vel dui. Curabitur in dolor sit amet ligula aliquet molestie. Aenean laoreet ipsum non ante pulvinar consectetur in ut nisi. Etiam mattis scelerisque sollicitudin. \n\nUt sit amet est nunc. Suspendisse commodo metus vel odio ornare faucibus. Vestibulum laoreet sagittis rhoncus. In fermentum elit lacus, ac porttitor lacus lobortis sit amet. Duis vitae ipsum semper orci bibendum tincidunt. Nam neque lacus, tristique vitae bibendum vitae, tincidunt quis felis. Fusce sit amet imperdiet mi.'

In [3]:
import requests

In [4]:
req = requests.get('https://www.thecocktaildb.com/api/json/v1/1/random.php')

In [5]:
req.json()

{'drinks': [{'idDrink': '178340',
   'strDrink': 'Garibaldi Negroni',
   'strDrinkAlternate': None,
   'strTags': 'Orange',
   'strVideo': None,
   'strCategory': 'Cocktail',
   'strIBA': None,
   'strAlcoholic': 'Alcoholic',
   'strGlass': 'Highball glass',
   'strInstructions': 'Mix together in a shaker and garnish with a simple orange slice. Fill your vitamin C and cocktail fix at the same time!',
   'strInstructionsES': None,
   'strInstructionsDE': None,
   'strInstructionsFR': None,
   'strInstructionsIT': "Mescolare in uno shaker e guarnire con una semplice fetta d'arancia. Riempi la tua dose di vitamina C e cocktail allo stesso tempo!",
   'strInstructionsZH-HANS': None,
   'strInstructionsZH-HANT': None,
   'strDrinkThumb': 'https://www.thecocktaildb.com/images/media/drink/kb4bjg1604179771.jpg',
   'strIngredient1': 'Gin',
   'strIngredient2': 'Campari',
   'strIngredient3': 'Orange Juice',
   'strIngredient4': 'Orange Peel',
   'strIngredient5': None,
   'strIngredient6': None,
   'strIngredient7': None,
   'strIngredient8': None,
   'strIngredient9': None,
   'strIngredient10': None,
   'strIngredient11': None,
   'strIngredient12': None,
   'strIngredient13': None,
   'strIngredient14': None,
   'strIngredient15': None,
   'strMeasure1': '30 ml',
   'strMeasure2': '30 ml',
   'strMeasure3': '90 ml',
   'strMeasure4': 'Garnish with',
   'strMeasure5': '',
   'strMeasure6': '',
   'strMeasure7': '',
   'strMeasure8': None,
   'strMeasure9': None,
   'strMeasure10': None,
   'strMeasure11': None,
   'strMeasure12': None,
   'strMeasure13': None,
   'strMeasure14': None,
   'strMeasure15': None,
   'strImageSource': None,
   'strImageAttribution': None,
   'strCreativeCommonsConfirmed': 'No',
   'dateModified': None}]}

In [6]:
req.status_code

200

In [7]:
req.text

'{"drinks":[{"idDrink":"178340","strDrink":"Garibaldi Negroni","strDrinkAlternate":null,"strTags":"Orange","strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Highball glass","strInstructions":"Mix together in a shaker and garnish with a simple orange slice. Fill your vitamin C and cocktail fix at the same time!","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsIT":"Mescolare in uno shaker e guarnire con una semplice fetta d\'arancia. Riempi la tua dose di vitamina C e cocktail allo stesso tempo!","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\\/\\/www.thecocktaildb.com\\/images\\/media\\/drink\\/kb4bjg1604179771.jpg","strIngredient1":"Gin","strIngredient2":"Campari","strIngredient3":"Orange Juice","strIngredient4":"Orange Peel","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"30 ml","strMeasure2":"30 ml","strMeasure3":"90 ml","strMeasure4":"Garnish with","strMeasure5":"","strMeasure6":"","strMeasure7":"","strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":null}]}'

In [8]:
req.json()

{'drinks': [{'idDrink': '178340',
   'strDrink': 'Garibaldi Negroni',
   'strDrinkAlternate': None,
   'strTags': 'Orange',
   'strVideo': None,
   'strCategory': 'Cocktail',
   'strIBA': None,
   'strAlcoholic': 'Alcoholic',
   'strGlass': 'Highball glass',
   'strInstructions': 'Mix together in a shaker and garnish with a simple orange slice. Fill your vitamin C and cocktail fix at the same time!',
   'strInstructionsES': None,
   'strInstructionsDE': None,
   'strInstructionsFR': None,
   'strInstructionsIT': "Mescolare in uno shaker e guarnire con una semplice fetta d'arancia. Riempi la tua dose di vitamina C e cocktail allo stesso tempo!",
   'strInstructionsZH-HANS': None,
   'strInstructionsZH-HANT': None,
   'strDrinkThumb': 'https://www.thecocktaildb.com/images/media/drink/kb4bjg1604179771.jpg',
   'strIngredient1': 'Gin',
   'strIngredient2': 'Campari',
   'strIngredient3': 'Orange Juice',
   'strIngredient4': 'Orange Peel',
   'strIngredient5': None,
   'strIngredient6': None,
   'strIngredient7': None,
   'strIngredient8': None,
   'strIngredient9': None,
   'strIngredient10': None,
   'strIngredient11': None,
   'strIngredient12': None,
   'strIngredient13': None,
   'strIngredient14': None,
   'strIngredient15': None,
   'strMeasure1': '30 ml',
   'strMeasure2': '30 ml',
   'strMeasure3': '90 ml',
   'strMeasure4': 'Garnish with',
   'strMeasure5': '',
   'strMeasure6': '',
   'strMeasure7': '',
   'strMeasure8': None,
   'strMeasure9': None,
   'strMeasure10': None,
   'strMeasure11': None,
   'strMeasure12': None,
   'strMeasure13': None,
   'strMeasure14': None,
   'strMeasure15': None,
   'strImageSource': None,
   'strImageAttribution': None,
   'strCreativeCommonsConfirmed': 'No',
   'dateModified': None}]}

In [9]:
req_json = req.json()

In [10]:
import pandas as pd
#nombre del coctail
#categoria
#vaso
pd.DataFrame(req_json)

                                              drinks
0  {'idDrink': '178340', 'strDrink': 'Garibaldi N...

In [11]:
cocktail = pd.DataFrame(req_json)
cocktail.columns

Index(['drinks'], dtype='object')

In [12]:
#El 
json_array = []

for fila in req_json:
    json_array.append(fila.split(';'))

In [20]:
cocktail2 = []

for i in range(0, 10):
    req1 = requests.get('https://www.thecocktaildb.com/api/json/v1/1/random.php')
    data = req1.json()
    
    template = {
                "nombre": data['drinks'][0]['strDrink'],
                "categoria": data['drinks'][0]['strCategory'],
                "vaso": data['drinks'][0]['strGlass']
    }
    
    cocktail2.append(template)

In [21]:
pd.DataFrame(cocktail2)

                       nombre       categoria                 vaso
0      Death in the Afternoon        Cocktail      Margarita glass
1                    Danbooka    Coffee / Tea           Coffee Mug
2  Absolutely Cranberry Smash  Ordinary Drink       Cocktail glass
3                 Sherry Flip  Ordinary Drink  Nick and Nora Glass
4               Freddy Kruger            Shot           Shot glass
5     Banana Strawberry Shake           Shake       Highball Glass
6           Dubonnet Cocktail  Ordinary Drink       Cocktail glass
7             Dark Caipirinha        Cocktail       Highball glass
8             Bellini Martini  Ordinary Drink       Cocktail glass
9             Black and Brown            Beer         Beer pilsner

In [22]:
cocktail2[0].keys()

dict_keys(['nombre', 'categoria', 'vaso'])

In [23]:
data['drinks'][0].keys()

dict_keys(['idDrink', 'strDrink', 'strDrinkAlternate', 'strTags', 'strVideo', 'strCategory', 'strIBA', 'strAlcoholic', 'strGlass', 'strInstructions', 'strInstructionsES', 'strInstructionsDE', 'strInstructionsFR', 'strInstructionsIT', 'strInstructionsZH-HANS', 'strInstructionsZH-HANT', 'strDrinkThumb', 'strIngredient1', 'strIngredient2', 'strIngredient3', 'strIngredient4', 'strIngredient5', 'strIngredient6', 'strIngredient7', 'strIngredient8', 'strIngredient9', 'strIngredient10', 'strIngredient11', 'strIngredient12', 'strIngredient13', 'strIngredient14', 'strIngredient15', 'strMeasure1', 'strMeasure2', 'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6', 'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10', 'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14', 'strMeasure15', 'strImageSource', 'strImageAttribution', 'strCreativeCommonsConfirmed', 'dateModified'])

In [26]:
#Teneis que poniendo el nombre de la ciudad, dar la previsión del tiempo de 7 días de rainsum, maxtemp y mintemp
#convertir longitud y latitud en ciuda o viceversa, buscar en pipy una librería para eso
#almacenar con la libreria la ciudad en una variable y meterla en la URL para llamar la API
req3 = requests.get('https://api.open-meteo.com/v1/forecast?latitude=40.42&longitude=-3.70&daily=temperature_2m_max,temperature_2m_min,rain_sum&current_weather=true&timezone=Europe%2FBerlin')
meteo = req3.json()

In [27]:
meteo.keys()

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'current_weather', 'daily_units', 'daily'])

In [28]:
pd.DataFrame(meteo)

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,current_weather,daily_units,daily
temperature,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,21.9,NaN,NaN
windspeed,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,4.6,NaN,NaN
winddirection,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,162.0,NaN,NaN
weathercode,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,2,NaN,NaN
is_day,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,1,NaN,NaN
time,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,2023-05-30T13:00,iso8601,"[2023-05-30, 2023-05-31, 2023-06-01, 2023-06-0..."
temperature_2m_max,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,NaN,°C,"[22.0, 24.2, 21.1, 22.1, 23.5, 25.6, 24.2]"
temperature_2m_min,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,NaN,°C,"[13.8, 14.0, 13.6, 14.2, 14.2, 15.6, 15.7]"
rain_sum,40.42,-3.7,0.470996,7200,Europe/Berlin,CEST,667.0,NaN,mm,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]"

In [73]:
meteo_results = []

for i in range(0, 8):
    req3 = requests.get('https://api.open-meteo.com/v1/forecast?latitude=40.42&longitude=-3.70&daily=temperature_2m_max,temperature_2m_min,rain_sum&current_weather=true&timezone=Europe%2FBerlin')
    meteo = req3.json()
    
    temp = {
                "Dia": meteo['daily']['time'][0:],
                "Temperatura max": meteo['daily']['temperature_2m_max'][0:],
                "Temperatura min": meteo['daily']['temperature_2m_min'][0:],
                "Lluvia": meteo['daily']['rain_sum'][0:]
    }
    
    meteo_results.append(temp)

In [75]:
meteo_results[0]['Dia'][0:]

['2023-05-30',
 '2023-05-31',
 '2023-06-01',
 '2023-06-02',
 '2023-06-03',
 '2023-06-04',
 '2023-06-05']

In [82]:
meteo_filas = [meteo_results[0]['Dia'][0:],
               meteo_results[0]['Temperatura max'][0:],
               meteo_results[0]['Temperatura min'][0:],
               meteo_results[0]['Lluvia'][0:],
              ]

In [83]:
pd.DataFrame(meteo_filas)

,0,1,2,3,4,5,6
0,2023-05-30,2023-05-31,2023-06-01,2023-06-02,2023-06-03,2023-06-04,2023-06-05
1,22.0,24.2,21.1,22.1,23.5,25.6,24.2
2,13.8,14.0,13.6,14.2,14.2,15.6,15.7
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [84]:
df = pd.DataFrame(meteo_filas)
df_trans = df.transpose()
df_trans

            0     1     2    3
0  2023-05-30  22.0  13.8  0.0
1  2023-05-31  24.2  14.0  0.0
2  2023-06-01  21.1  13.6  0.0
3  2023-06-02  22.1  14.2  0.0
4  2023-06-03  23.5  14.2  0.0
5  2023-06-04  25.6  15.6  0.0
6  2023-06-05  24.2  15.7  0.0

In [85]:
column_names = ['Fecha', 'Temperatura_max', 'Temperatura_min', 'Lluvia']
df_trans.columns = column_names
df_trans

        Fecha Temperatura_max Temperatura_min Lluvia
0  2023-05-30            22.0            13.8    0.0
1  2023-05-31            24.2            14.0    0.0
2  2023-06-01            21.1            13.6    0.0
3  2023-06-02            22.1            14.2    0.0
4  2023-06-03            23.5            14.2    0.0
5  2023-06-04            25.6            15.6    0.0
6  2023-06-05            24.2            15.7    0.0