# Datos

En Spark hay tres formas de trabajar con los datos: RDD, DataFrames y DataSets. En Pyspark >>v 2.0 sobretodo se termina trabajando en DataFrames porque `py` no tiene una interfaz nativa de Datasets y es mucho más fácil e intuititvo que trabajar con RDD.



# PySpark: RDD


**Colección** de registros o filas (recordad, en **memoria**), que representan una entidad (por ejemplo, un vuelo, un curso, un alumno) sobre las que se puede aplicar operaciones - métodos - de *transformación* en otro RDD, o invocar *acciones* para recuperar resultados.



1. Particionado: se distribuyen los datos por todos los nodos del cluster. Nº x defecto -> numero de cores disponibles
2. Inmutables: una vez se crean, no pueden cambiar
3. Resilentes: si un nodo cae, los datos se pueden reconstruir

Otras características: RDD no tiene soporte para la ejecución optimizada, esto es, no optimiza la secuencia de acciones a realizar para obtener el resultado, y permite tipado fuerte.

El procesamiento ocurre de forma distribuida en los nodos, pero en el caso de Spark los datos se almacenan en la memoria de cada nodo del cluster

# Operaciones

Existen dos tipos de operaciones:
+ Transformaciones: transforman el RDD en otro RDD 
+ Acciones: obtienen el resultado (collect)

Lo más importante en este punto es tener claro que las transformaciones se pueden aplicar en cadena, pero no se ejecutan hasta que se hace la llamada a la acción. De este modo se genera un Grafo Acíclico Dirigido (DAG) de transformaciones.

# Dataframes

Se asimilan a una tabla de BBDD.
Se generan sobre los RDD y por tanto comparten sus características, pero te facilitan una mayor abstracción al realizar las operaciones.


## Nota: Datasets

En Py no no se suelen usar los datasets. Podéis pensar en ellos como una interfaz evolucionada de los dataframes, mezclando lo mejor de los dos mundos: tipado fuerte y optimización.

# Cargar pyspark en el sistema

SparkSession es el punto de entrada de un programa Spark. En versiones anteriores, si quisiéramos trabajar con Hive o SQL, habría que declarar varios contextos. Con Spark Session nos abstraemos de los diferentes contextos y utilizamos un único punto de entrada para leer datos, gestionar los recursos del cluster o trabajar con metadatos.

Para más info sobre `Spark Session` https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.html

Y https://spark.apache.org/docs/2.3.0/configuration.html

No todas las opciones siempre van a ser iguales. En este caso, he especificado que quiero que se use spark en local con tantos threads como me permita mi máquina ( `master("local[*]")`) y dependerá, también, de la plataforma donde estés ejecutando spark.

Por ejemplo, en GCP puedo tener esta configuración:

`spark = SparkSession.builder \
    ``.appName('PySpark MyApp')`
    `.config('spark.jars', 'gs://spark-lib/
    `bigquery`spark-bigquery-latest_2.12.jar')`
    `.config('spark.driver.maxResultSize', '150g')\
    .getOrCreate()`
``spark.conf.set("spark.sql.repl.eagerEval.enabled", True)``

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F, types as T
spark = SparkSession.builder.appName("Varios").master("local[*]").getOrCreate()
spark

23/09/25 11:34:26 WARN Utils: Your hostname, EliteX2 resolves to a loopback address: 127.0.1.1; using 192.168.5.94 instead (on interface wifi0)
23/09/25 11:34:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 11:34:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Web UI Spark
https://medium.com/iwannabedatadriven/entenWeb UI Sparkdiendo-la-interfaz-de-usuario-de-spark-web-ui-spark-ii-5f84f05545a

In [ ]:
# http://localhost:4040

# Importación 

En versiones anteriores de Spark, la forma de crear un RDD a partir de textos era con las funciones `parallelize((tupla1),(tupla2),...,(tuplaN))` o leyendo los archivos de textos `textFile(ruta, particiones)` Ahora se puede utilizar la interfaz `read.` para leer los archivos y transformando los datos a un dataframe

Spark permite la lectura de diferentes formatos: `json, parquet, avro, csv o accediendo mediante jdbc a datos de la bbdd`. En entornos cloud, existen interfaces para conectar con sus repositorios (por ejemplo, en Google, con BigQuery)

In [2]:
archivo = 'california_housing_train.csv'
df_spark = spark.read.csv(archivo, inferSchema=True, header=True)

# imprimir tipo de archivo
print(type(df_spark))

# RDD tradicional: spark.textFile(ruta,...)

<class 'pyspark.sql.dataframe.DataFrame'>

# RDD

## Revisar el número de particiones que tenemos en el dataset

In [3]:
rddspark = df_spark.rdd
type(rddspark)

pyspark.rdd.RDD

In [4]:
df_spark2 = df_spark.repartition(3)

In [5]:
print(df_spark2.rdd.getNumPartitions())

3

In [6]:
rddspark.getNumPartitions()

1

In [7]:
rddspark2 = rddspark.repartition(3)

In [8]:
rddspark2.getNumPartitions()

3

# Definición de datos en un RDD

RDD es schemaless. Esto proporciona gran flexibilidad a la hora de trabajar con él. Permite trabajar con tuplas, listas o diccionarios a la hora de definir el RDD. Por ejemplo:

In [9]:
## Analizamos el dataframe 

df_spark.limit(10).toPandas().describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,-114.542000,34.000000,26.000000,2832.900000,658.900000,1042.400000,389.700000,2.217910,68300.000000
std,0.089294,0.519145,11.205158,2377.174534,595.440537,858.024242,283.480766,0.647966,13363.299659
min,-114.600000,33.570000,14.000000,720.000000,168.000000,333.000000,117.000000,1.493600,48100.000000
25%,-114.587500,33.615000,17.500000,1403.750000,254.250000,542.250000,229.250000,1.736225,60175.000000
50%,-114.575000,33.665000,22.500000,1499.000000,331.500000,729.000000,266.500000,2.051600,70150.000000
75%,-114.562500,34.347500,32.750000,4318.500000,1051.250000,1100.500000,469.750000,2.555300,78575.000000
max,-114.310000,34.830000,46.000000,7650.000000,1901.000000,3134.000000,1056.000000,3.343800,85700.000000

In [10]:

data3 = rddspark2.take(3)
for f in data3:
    print("data3 longitude: "+ str(f[0]) +", latitude: "+str(f[1]))

data3 longitude: -114.31, latitude: 34.19
data3 longitude: -114.47, latitude: 34.4
data3 longitude: -114.56, latitude: 33.69

En este ejemplo anterior, hemos accedido a los datos que previamente estaban formateados por un dataset. Hemos cogido 3 registros y hemos accedido a ellos por su valor.


## Creación de RDD mediante parallelize

In [12]:
midata = spark.sparkContext.parallelize([('Huanito','25'),['Mercedes',25,'sport'],{'CASA':'Madrid'}])

Este **RDD** está formado por una **tupla**, una **lista** y un **diccionario**:

In [13]:
data4 = midata.take(2)
for f in data4:
    print("data4 Value:"+ str(f[0]) +", Value:"+str(f[1]))

data4 Value:Huanito, Value:25
data4 Value:Mercedes, Value:25

Si intentamos acceder ahora al diccionario del mismo modo, obtendremos un error. **Es flexible en cuanto la posibilidad de crear nuevos campos para cada registro, pero  tenemos que controlar las estructuras conforme accedamos al dato**:

In [14]:
data4 = midata.take(3)
for f in data4:
    print("data4 Key:"+ str(f[0]) +", Value:"+str(f[1]))

data4 Key:Huanito, Value:25
data4 Key:Mercedes, Value:25

KeyError: 0

**Creación de un RDD usando el objeto ROW**

Fijaos: estamos usando un objeto `Row`. `Row` define una fila en un dataframe. Sin embargo, también define un registro en un RDD.

In [15]:
from pyspark.sql.types import Row

data = spark.sparkContext.parallelize([Row(
                           id=1,
                           name="Cesar",
                           nota=50
                        ),
                        Row(
                            id=2,
                            name="Maria",
                            nota=80
                        ),
                        Row(
                            id=3,
                            name="Juan",
                            nota=75
                        )])

In [16]:
data.collect()

[Row(id=1, name='Cesar', nota=50),
 Row(id=2, name='Maria', nota=80),
 Row(id=3, name='Juan', nota=75)]

In [17]:
type(data)

pyspark.rdd.RDD

In [18]:
data.toDF()

DataFrame[id: bigint, name: string, nota: bigint]

# Map y flatMap

`Map` y `flatMap` permiten realizar **operaciones de tranformación sobre los campos**. 

Sin embargo, hasta que no se hace una operación, no podemos acceder al RDD como lo haríamos en un objeto Py normal. Las acciones collect, top, count etc, son algunas acciones con las que podemos trabajar.

`map` es el método de transformación básico, realiza una transformación sobre el RDD para obtener otro RDD

In [19]:
print ('Obtener housing_median_age de la RDD:\n')
print(rddspark2.map(lambda x: x.housing_median_age))

Obtener housing_median_age de la RDD:

PythonRDD[45] at RDD at PythonRDD.scala:53

In [20]:
rddspark2.map(lambda x: x.housing_median_age).collect()

[15.0,
 19.0,
 17.0,
 14.0,
 20.0,
 29.0,
 25.0,
 41.0,
 34.0,
 46.0,
 38.0,
 35.0,
 16.0,
 19.0,
 19.0,
 29.0,
 33.0,
 21.0,
 15.0,
 19.0,
 25.0,
 35.0,
 34.0,
 14.0,
 23.0,
 17.0,
 27.0,
 41.0,
 23.0,
 33.0,
 16.0,
 34.0,
 20.0,
 15.0,
 21.0,
 5.0,
 10.0,
 14.0,
 5.0,
 20.0,
 5.0,
 12.0,
 27.0,
 8.0,
 15.0,
 16.0,
 26.0,
 24.0,
 20.0,
 8.0,
 23.0,
 28.0,
 22.0,
 28.0,
 19.0,
 34.0,
 19.0,
 14.0,
 23.0,
 26.0,
 11.0,
 7.0,
 18.0,
 10.0,
 19.0,
 13.0,
 5.0,
 11.0,
 24.0,
 9.0,
 14.0,
 15.0,
 26.0,
 17.0,
 8.0,
 24.0,
 19.0,
 18.0,
 17.0,
 18.0,
 20.0,
 15.0,
 21.0,
 16.0,
 12.0,
 21.0,
 13.0,
 13.0,
 17.0,
 21.0,
 16.0,
 23.0,
 11.0,
 14.0,
 18.0,
 13.0,
 16.0,
 21.0,
 26.0,
 12.0,
 15.0,
 6.0,
 5.0,
 20.0,
 16.0,
 26.0,
 5.0,
 17.0,
 13.0,
 11.0,
 9.0,
 29.0,
 10.0,
 2.0,
 23.0,
 14.0,
 14.0,
 16.0,
 15.0,
 9.0,
 21.0,
 16.0,
 14.0,
 22.0,
 32.0,
 15.0,
 8.0,
 18.0,
 23.0,
 16.0,
 14.0,
 19.0,
 17.0,
 24.0,
 24.0,
 32.0,
 38.0,
 35.0,
 28.0,
 21.0,
 19.0,
 33.0,
 20.0,
 25.0,
 13.0,
 17.0,
 20.0,
 30.0,
 22.0,
 21.0,
 20.0,
 10.0,
 23.0,
 15.0,
 32.0,
 19.0,
 37.0,
 35.0,
 26.0,
 33.0,
 29.0,
 25.0,
 18.0,
 24.0,
 16.0,
 16.0,
 4.0,
 18.0,
 24.0,
 23.0,
 30.0,
 15.0,
 14.0,
 13.0,
 11.0,
 21.0,
 15.0,
 15.0,
 29.0,
 16.0,
 13.0,
 8.0,
 23.0,
 23.0,
 17.0,
 26.0,
 21.0,
 20.0,
 17.0,
 17.0,
 29.0,
 19.0,
 5.0,
 10.0,
 20.0,
 14.0,
 6.0,
 7.0,
 25.0,
 17.0,
 5.0,
 19.0,
 27.0,
 7.0,
 16.0,
 26.0,
 6.0,
 14.0,
 17.0,
 25.0,
 5.0,
 10.0,
 15.0,
 14.0,
 14.0,
 13.0,
 22.0,
 37.0,
 30.0,
 29.0,
 36.0,
 5.0,
 33.0,
 24.0,
 28.0,
 9.0,
 13.0,
 11.0,
 14.0,
 22.0,
 22.0,
 20.0,
 17.0,
 18.0,
 6.0,
 12.0,
 18.0,
 19.0,
 17.0,
 17.0,
 35.0,
 8.0,
 21.0,
 14.0,
 35.0,
 19.0,
 15.0,
 32.0,
 16.0,
 31.0,
 17.0,
 23.0,
 24.0,
 17.0,
 9.0,
 16.0,
 17.0,
 17.0,
 17.0,
 21.0,
 37.0,
 29.0,
 36.0,
 34.0,
 33.0,
 25.0,
 24.0,
 17.0,
 13.0,
 11.0,
 4.0,
 15.0,
 14.0,
 17.0,
 5.0,
 25.0,
 4.0,
 4.0,
 5.0,
 36.0,
 29.0,
 28.0,
 20.0,
 18.0,
 35.0,
 28.0,
 12.0,
 38.0,
 32.0,
 30.0,
 17.0,
 37.0,
 33.0,
 31.0,
 31.0,
 28.0,
 23.0,
 23.0,
 10.0,
 18.0,
 33.0,
 26.0,
 36.0,
 36.0,
 19.0,
 27.0,
 37.0,
 36.0,
 36.0,
 31.0,
 16.0,
 24.0,
 13.0,
 13.0,
 9.0,
 11.0,
 32.0,
 21.0,
 18.0,
 16.0,
 28.0,
 24.0,
 20.0,
 23.0,
 26.0,
 39.0,
 33.0,
 29.0,
 12.0,
 22.0,
 21.0,
 12.0,
 23.0,
 17.0,
 10.0,
 8.0,
 6.0,
 22.0,
 24.0,
 6.0,
 30.0,
 14.0,
 24.0,
 5.0,
 9.0,
 25.0,
 42.0,
 28.0,
 37.0,
 35.0,
 25.0,
 14.0,
 13.0,
 17.0,
 18.0,
 13.0,
 15.0,
 14.0,
 10.0,
 46.0,
 21.0,
 19.0,
 46.0,
 34.0,
 21.0,
 20.0,
 11.0,
 33.0,
 25.0,
 25.0,
 17.0,
 28.0,
 21.0,
 17.0,
 38.0,
 25.0,
 4.0,
 11.0,
 7.0,
 16.0,
 17.0,
 37.0,
 20.0,
 17.0,
 15.0,
 13.0,
 52.0,
 46.0,
 50.0,
 36.0,
 16.0,
 12.0,
 17.0,
 10.0,
 15.0,
 15.0,
 16.0,
 17.0,
 16.0,
 16.0,
 23.0,
 20.0,
 52.0,
 50.0,
 46.0,
 52.0,
 52.0,
 52.0,
 43.0,
 9.0,
 26.0,
 5.0,
 17.0,
 11.0,
 11.0,
 16.0,
 17.0,
 16.0,
 7.0,
 12.0,
 29.0,
 27.0,
 47.0,
 16.0,
 26.0,
 43.0,
 42.0,
 34.0,
 52.0,
 52.0,
 16.0,
 5.0,
 15.0,
 4.0,
 16.0,
 16.0,
 15.0,
 10.0,
 41.0,
 23.0,
 3.0,
 2.0,
 4.0,
 16.0,
 5.0,
 5.0,
 28.0,
 34.0,
 14.0,
 37.0,
 13.0,
 15.0,
 3.0,
 2.0,
 5.0,
 24.0,
 29.0,
 24.0,
 33.0,
 7.0,
 52.0,
 52.0,
 52.0,
 44.0,
 7.0,
 39.0,
 33.0,
 45.0,
 40.0,
 19.0,
 30.0,
 31.0,
 27.0,
 25.0,
 28.0,
 19.0,
 30.0,
 10.0,
 30.0,
 21.0,
 33.0,
 33.0,
 36.0,
 20.0,
 3.0,
 24.0,
 3.0,
 6.0,
 16.0,
 15.0,
 35.0,
 12.0,
 10.0,
 7.0,
 7.0,
 17.0,
 22.0,
 18.0,
 18.0,
 14.0,
 34.0,
 16.0,
 38.0,
 31.0,
 17.0,
 16.0,
 16.0,
 31.0,
 32.0,
 27.0,
 3.0,
 14.0,
 12.0,
 26.0,
 24.0,
 16.0,
 26.0,
 34.0,
 36.0,
 35.0,
 4.0,
 3.0,
 7.0,
 12.0,
 5.0,
 16.0,
 17.0,
 15.0,
 19.0,
 31.0,
 24.0,
 52.0,
 52.0,
 41.0,
 9.0,
 9.0,
 17.0,
 16.0,
 10.0,
 6.0,
 29.0,
 22.0,
 2.0,
 7.0,
 18.0,
 17.0,
 16.0,
 15.0,
 15.0,
 25.0,
 29.0,
 23.0,
 9.0,
 5.0,
 17.0,
 11.0,
 15.0,
 8.0,
 9.0,
 16.0,
 34.0,
 33.0,
 30.0,
 26.0,
 19.0,
 18.0,
 25.0,
 20.0,
 18.0,
 18.0,
 19.0,
 37.0,
 33.0,
 17.0,
 32.0,
 30.0,
 30.0,
 21.0,
 23.0,
 18.0,
 6.0,
 16.0,
 6.0,
 16.0,
 14.0,
 10.0,
 18.0,
 16.0,
 15.0,
 30.0,
 36.0,
 36.0,
 39.0,
 38.0,
 37.0,
 36.0,
 33.0,
 10.0,
 6.0,
 11.0,
 31.0,
 12.0,
 25.0,
 36.0,
 34.0,
 22.0,
 15.0,
 15.0,
 42.0,
 24.0,
 38.0,
 21.0,
 20.0,
 34.0,
 2.0,
 13.0,
 8.0,
 4.0,
 5.0,
 5.0,
 35.0,
 42.0,
 35.0,
 32.0,
 28.0,
 10.0,
 16.0,
 26.0,
 26.0,
 35.0,
 16.0,
 14.0,
 13.0,
 12.0,
 41.0,
 21.0,
 34.0,
 20.0,
 38.0,
 34.0,
 4.0,
 15.0,
 19.0,
 7.0,
 5.0,
 16.0,
 17.0,
 15.0,
 11.0,
 4.0,
 42.0,
 50.0,
 42.0,
 34.0,
 7.0,
 23.0,
 22.0,
 13.0,
 4.0,
 6.0,
 35.0,
 37.0,
 52.0,
 41.0,
 52.0,
 34.0,
 43.0,
 40.0,
 37.0,
 40.0,
 18.0,
 9.0,
 16.0,
 7.0,
 8.0,
 13.0,
 29.0,
 6.0,
 6.0,
 9.0,
 7.0,
 7.0,
 24.0,
 16.0,
 15.0,
 15.0,
 25.0,
 29.0,
 10.0,
 13.0,
 15.0,
 21.0,
 17.0,
 11.0,
 31.0,
 8.0,
 31.0,
 37.0,
 29.0,
 29.0,
 19.0,
 17.0,
 17.0,
 10.0,
 9.0,
 5.0,
 28.0,
 36.0,
 32.0,
 22.0,
 10.0,
 7.0,
 3.0,
 18.0,
 35.0,
 33.0,
 31.0,
 4.0,
 19.0,
 42.0,
 15.0,
 41.0,
 36.0,
 44.0,
 52.0,
 27.0,
 40.0,
 34.0,
 33.0,
 32.0,
 6.0,
 17.0,
 45.0,
 52.0,
 52.0,
 30.0,
 29.0,
 30.0,
 21.0,
 12.0,
 4.0,
 14.0,
 5.0,
 21.0,
 28.0,
 17.0,
 17.0,
 31.0,
 24.0,
 41.0,
 26.0,
 34.0,
 24.0,
 32.0,
 27.0,
 37.0,
 37.0,
 33.0,
 22.0,
 35.0,
 18.0,
 33.0,
 34.0,
 18.0,
 21.0,
 28.0,
 36.0,
 31.0,
 15.0,
 15.0,
 20.0,
 35.0,
 29.0,
 7.0,
 10.0,
 7.0,
 35.0,
 8.0,
 19.0,
 24.0,
 12.0,
 29.0,
 19.0,
 31.0,
 22.0,
 14.0,
 4.0,
 35.0,
 21.0,
 21.0,
 24.0,
 14.0,
 2.0,
 20.0,
 22.0,
 14.0,
 35.0,
 5.0,
 18.0,
 19.0,
 4.0,
 6.0,
 15.0,
 4.0,
 4.0,
 6.0,
 29.0,
 16.0,
 40.0,
 25.0,
 4.0,
 4.0,
 5.0,
 10.0,
 10.0,
 17.0,
 16.0,
 16.0,
 14.0,
 17.0,
 23.0,
 29.0,
 14.0,
 21.0,
 9.0,
 23.0,
 11.0,
 12.0,
 8.0,
 8.0,
 9.0,
 16.0,
 43.0,
 2.0,
 4.0,
 27.0,
 24.0,
 23.0,
 27.0,
 23.0,
 18.0,
 16.0,
 37.0,
 35.0,
 33.0,
 52.0,
 43.0,
 38.0,
 30.0,
 50.0,
 27.0,
 9.0,
 16.0,
 24.0,
 27.0,
 17.0,
 29.0,
 28.0,
 44.0,
 30.0,
 15.0,
 13.0,
 8.0,
 2.0,
 7.0,
 16.0,
 6.0,
 10.0,
 15.0,
 25.0,
 33.0,
 24.0,
 6.0,
 36.0,
 33.0,
 16.0,
 10.0,
 14.0,
 12.0,
 11.0,
 32.0,
 10.0,
 15.0,
 28.0,
 19.0,
 17.0,
 29.0,
 26.0,
 6.0,
 16.0,
 18.0,
 25.0,
 15.0,
 9.0,
 28.0,
 33.0,
 4.0,
 24.0,
 4.0,
 16.0,
 5.0,
 5.0,
 4.0,
 19.0,
 18.0,
 17.0,
 16.0,
 15.0,
 7.0,
 25.0,
 16.0,
 12.0,
 13.0,
 5.0,
 9.0,
 4.0,
 20.0,
 17.0,
 4.0,
 3.0,
 16.0,
 19.0,
 16.0,
 26.0,
 16.0,
 11.0,
 9.0,
 4.0,
 3.0,
 2.0,
 11.0,
 10.0,
 14.0,
 16.0,
 22.0,
 26.0,
 26.0,
 8.0,
 25.0,
 2.0,
 14.0,
 16.0,
 16.0,
 15.0,
 21.0,
 19.0,
 19.0,
 26.0,
 26.0,
 13.0,
 36.0,
 17.0,
 16.0,
 3.0,
 5.0,
 31.0,
 17.0,
 15.0,
 28.0,
 29.0,
 25.0,
 21.0,
 36.0,
 33.0,
 33.0,
 52.0,
 52.0,
 52.0,
 52.0,
 52.0,
 22.0,
 28.0,
 37.0,
 51.0,
 48.0,
 47.0,
 33.0,
 36.0,
 36.0,
 34.0,
 29.0,
 13.0,
 5.0,
 16.0,
 19.0,
 10.0,
 5.0,
 4.0,
 13.0,
 4.0,
 2.0,
 14.0,
 7.0,
 16.0,
 16.0,
 16.0,
 16.0,
 12.0,
 23.0,
 6.0,
 ...]

In [21]:
print(rddspark2.map(lambda x: x.housing_median_age).collect()[0:10])

[15.0, 19.0, 17.0, 14.0, 20.0, 29.0, 25.0, 41.0, 34.0, 46.0]

OJO: top no te coge los 10 primeros datos. Take, sí. En este caso  `take` se comporta como `collect[0:x]`

In [22]:
print(rddspark2.map(lambda x: x.housing_median_age).top(10))

[52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0]

In [23]:
rddspark2.map(lambda x: x.housing_median_age)

PythonRDD[49] at RDD at PythonRDD.scala:53

In [24]:
print(rddspark2.map(lambda x: x.housing_median_age).take(10))

[15.0, 19.0, 17.0, 14.0, 20.0, 29.0, 25.0, 41.0, 34.0, 46.0]

In [25]:
print(rddspark2.map(lambda x: (x[0],x[1])))

PythonRDD[51] at RDD at PythonRDD.scala:53

In [26]:
rddspark2.map(lambda x: (x[0],x[1])).collect()

[(-114.31, 34.19),
 (-114.47, 34.4),
 (-114.56, 33.69),
 (-114.57, 33.64),
 (-114.57, 33.57),
 (-114.58, 33.63),
 (-114.58, 33.61),
 (-114.59, 34.83),
 (-114.59, 33.61),
 (-114.6, 34.83),
 (-115.38, 32.82),
 (-115.38, 32.81),
 (-115.39, 32.76),
 (-115.4, 32.86),
 (-115.4, 32.7),
 (-115.41, 32.99),
 (-115.46, 33.19),
 (-115.48, 32.8),
 (-115.48, 32.68),
 (-115.49, 32.87),
 (-115.53, 32.99),
 (-115.53, 32.97),
 (-115.53, 32.97),
 (-115.53, 32.73),
 (-115.54, 32.99),
 (-115.54, 32.99),
 (-115.54, 32.98),
 (-115.54, 32.97),
 (-115.54, 32.79),
 (-115.55, 32.98),
 (-115.57, 32.8),
 (-115.57, 32.79),
 (-115.57, 32.78),
 (-115.57, 32.78),
 (-115.58, 33.88),
 (-115.58, 32.81),
 (-115.58, 32.81),
 (-115.58, 32.79),
 (-115.58, 32.78),
 (-115.59, 32.85),
 (-115.94, 33.38),
 (-115.95, 33.28),
 (-115.96, 33.3),
 (-115.98, 33.32),
 (-115.99, 33.4),
 (-116.0, 33.19),
 (-116.0, 32.74),
 (-116.01, 33.51),
 (-116.01, 33.41),
 (-116.02, 34.18),
 (-116.2, 33.63),
 (-116.2, 32.64),
 (-116.21, 33.75),
 (-116.21, 33.72),
 (-116.21, 33.71),
 (-116.21, 33.68),
 (-116.21, 33.66),
 (-116.22, 36.0),
 (-116.22, 34.21),
 (-116.22, 33.74),
 (-116.31, 33.67),
 (-116.31, 33.66),
 (-116.32, 34.14),
 (-116.32, 34.1),
 (-116.32, 33.28),
 (-116.33, 34.15),
 (-116.33, 33.75),
 (-116.33, 33.72),
 (-116.34, 33.36),
 (-116.35, 34.13),
 (-116.42, 33.76),
 (-116.42, 33.68),
 (-116.42, 33.51),
 (-116.43, 34.1),
 (-116.43, 33.81),
 (-116.43, 33.75),
 (-116.44, 34.16),
 (-116.44, 34.12),
 (-116.44, 33.93),
 (-116.44, 33.77),
 (-116.5, 33.69),
 (-116.51, 34.85),
 (-116.51, 34.45),
 (-116.51, 33.96),
 (-116.51, 33.94),
 (-116.51, 33.89),
 (-116.52, 33.97),
 (-116.52, 33.85),
 (-116.52, 33.84),
 (-116.52, 33.82),
 (-116.6, 33.49),
 (-116.6, 33.06),
 (-116.61, 33.04),
 (-116.62, 34.23),
 (-116.62, 32.86),
 (-116.66, 32.79),
 (-116.67, 32.97),
 (-116.68, 33.71),
 (-116.68, 33.16),
 (-116.71, 33.94),
 (-116.83, 34.25),
 (-116.83, 32.83),
 (-116.84, 33.01),
 (-116.84, 32.92),
 (-116.84, 32.86),
 (-116.85, 34.98),
 (-116.85, 34.25),
 (-116.85, 32.83),
 (-116.86, 34.23),
 (-116.86, 33.97),
 (-116.88, 32.86),
 (-116.89, 33.93),
 (-116.89, 33.92),
 (-116.89, 33.86),
 (-116.89, 33.75),
 (-116.89, 33.48),
 (-116.89, 32.99),
 (-116.89, 32.85),
 (-116.89, 32.85),
 (-116.89, 32.67),
 (-116.91, 32.85),
 (-116.91, 32.83),
 (-116.91, 32.82),
 (-116.91, 32.81),
 (-116.91, 32.8),
 (-116.91, 32.78),
 (-116.91, 32.73),
 (-116.92, 33.63),
 (-116.92, 32.85),
 (-116.92, 32.84),
 (-116.94, 33.77),
 (-116.94, 33.74),
 (-116.94, 33.73),
 (-116.94, 32.89),
 (-116.94, 32.87),
 (-116.94, 32.84),
 (-116.94, 32.83),
 (-116.94, 32.82),
 (-116.94, 32.8),
 (-116.94, 32.8),
 (-116.95, 32.79),
 (-116.95, 32.78),
 (-116.95, 32.78),
 (-116.95, 32.77),
 (-116.95, 32.76),
 (-116.95, 32.73),
 (-116.96, 34.94),
 (-116.96, 34.83),
 (-116.96, 33.94),
 (-116.96, 33.79),
 (-116.97, 33.74),
 (-116.97, 33.13),
 (-116.97, 32.83),
 (-116.97, 32.8),
 (-116.97, 32.79),
 (-116.97, 32.79),
 (-116.97, 32.78),
 (-116.97, 32.78),
 (-116.97, 32.78),
 (-116.97, 32.76),
 (-116.98, 32.77),
 (-116.98, 32.75),
 (-116.98, 32.75),
 (-116.98, 32.74),
 (-116.98, 32.74),
 (-116.98, 32.73),
 (-116.98, 32.72),
 (-116.98, 32.71),
 (-116.99, 34.89),
 (-116.99, 34.88),
 (-116.99, 32.73),
 (-116.99, 32.72),
 (-116.99, 32.72),
 (-116.99, 32.72),
 (-116.99, 32.72),
 (-116.99, 32.71),
 (-116.99, 32.7),
 (-116.99, 32.64),
 (-117.0, 34.89),
 (-117.0, 34.87),
 (-117.01, 33.04),
 (-117.01, 32.99),
 (-117.01, 32.85),
 (-117.01, 32.84),
 (-117.01, 32.83),
 (-117.01, 32.81),
 (-117.01, 32.81),
 (-117.01, 32.8),
 (-117.01, 32.8),
 (-117.01, 32.8),
 (-117.02, 34.89),
 (-117.02, 34.03),
 (-117.02, 33.95),
 (-117.02, 33.81),
 (-117.02, 33.76),
 (-117.02, 33.73),
 (-117.02, 33.71),
 (-117.02, 33.6),
 (-117.02, 32.95),
 (-117.02, 32.84),
 (-117.02, 32.64),
 (-117.02, 32.59),
 (-117.03, 34.91),
 (-117.03, 34.87),
 (-117.03, 34.07),
 (-117.03, 34.03),
 (-117.03, 33.89),
 (-117.03, 33.32),
 (-117.03, 33.18),
 (-117.03, 33.12),
 (-117.03, 32.69),
 (-117.03, 32.69),
 (-117.03, 32.67),
 (-117.03, 32.65),
 (-117.03, 32.63),
 (-117.03, 32.63),
 (-117.03, 32.61),
 (-117.04, 34.89),
 (-117.04, 34.04),
 (-117.04, 34.03),
 (-117.04, 32.75),
 (-117.04, 32.74),
 (-117.04, 32.74),
 (-117.04, 32.72),
 (-117.04, 32.71),
 (-117.04, 32.69),
 (-117.04, 32.68),
 (-117.04, 32.68),
 (-117.04, 32.67),
 (-117.04, 32.66),
 (-117.05, 33.13),
 (-117.05, 33.13),
 (-117.05, 33.13),
 (-117.05, 33.11),
 (-117.05, 33.05),
 (-117.05, 33.04),
 (-117.05, 33.02),
 (-117.05, 33.01),
 (-117.05, 33.01),
 (-117.05, 32.97),
 (-117.05, 32.72),
 (-117.05, 32.69),
 (-117.05, 32.69),
 (-117.05, 32.69),
 (-117.05, 32.68),
 (-117.05, 32.68),
 (-117.05, 32.68),
 (-117.05, 32.67),
 (-117.05, 32.67),
 (-117.05, 32.63),
 (-117.06, 33.04),
 (-117.06, 33.03),
 (-117.06, 33.02),
 (-117.06, 33.02),
 (-117.06, 33.01),
 (-117.06, 32.99),
 (-117.06, 32.97),
 (-117.06, 32.81),
 (-117.06, 32.8),
 (-117.06, 32.79),
 (-117.06, 32.63),
 (-117.06, 32.63),
 (-117.06, 32.62),
 (-117.06, 32.61),
 (-117.06, 32.6),
 (-117.06, 32.6),
 (-117.06, 32.6),
 (-117.06, 32.58),
 (-117.06, 32.58),
 (-117.06, 32.58),
 (-117.07, 33.04),
 (-117.07, 33.03),
 (-117.07, 33.03),
 (-117.07, 33.02),
 (-117.07, 33.01),
 (-117.07, 33.01),
 (-117.07, 33.0),
 (-117.07, 33.0),
 (-117.07, 32.91),
 (-117.07, 32.8),
 (-117.07, 32.69),
 (-117.07, 32.69),
 (-117.07, 32.69),
 (-117.07, 32.68),
 (-117.07, 32.67),
 (-117.07, 32.67),
 (-117.07, 32.65),
 (-117.07, 32.64),
 (-117.07, 32.64),
 (-117.07, 32.64),
 (-117.08, 33.13),
 (-117.08, 33.12),
 (-117.08, 33.12),
 (-117.08, 33.11),
 (-117.08, 33.11),
 (-117.08, 33.11),
 (-117.08, 33.09),
 (-117.08, 33.08),
 (-117.08, 33.04),
 (-117.08, 33.03),
 (-117.08, 32.74),
 (-117.08, 32.74),
 (-117.08, 32.73),
 (-117.08, 32.73),
 (-117.08, 32.73),
 (-117.08, 32.71),
 (-117.08, 32.7),
 (-117.08, 32.7),
 (-117.08, 32.69),
 (-117.08, 32.69),
 (-117.09, 34.22),
 (-117.09, 34.07),
 (-117.09, 33.71),
 (-117.09, 33.15),
 (-117.09, 33.13),
 (-117.09, 33.12),
 (-117.09, 33.11),
 (-117.09, 33.1),
 (-117.09, 32.99),
 (-117.09, 32.99),
 (-117.09, 32.75),
 (-117.09, 32.75),
 (-117.09, 32.75),
 (-117.09, 32.74),
 (-117.09, 32.73),
 (-117.09, 32.72),
 (-117.09, 32.72),
 (-117.09, 32.71),
 (-117.09, 32.71),
 (-117.09, 32.7),
 (-117.09, 32.61),
 (-117.09, 32.58),
 (-117.09, 32.57),
 (-117.09, 32.57),
 (-117.09, 32.57),
 (-117.09, 32.55),
 (-117.1, 34.57),
 (-117.1, 34.21),
 (-117.1, 34.03),
 (-117.1, 33.56),
 (-117.1, 32.74),
 (-117.1, 32.74),
 (-117.1, 32.73),
 (-117.1, 32.72),
 (-117.1, 32.71),
 (-117.1, 32.71),
 (-117.1, 32.7),
 (-117.1, 32.7),
 (-117.1, 32.69),
 (-117.1, 32.69),
 (-117.11, 33.98),
 (-117.11, 33.83),
 (-117.11, 33.78),
 (-117.11, 33.75),
 (-117.11, 33.74),
 (-117.11, 33.23),
 (-117.11, 33.19),
 (-117.11, 33.15),
 (-117.11, 33.14),
 (-117.11, 33.12),
 (-117.11, 32.76),
 (-117.11, 32.76),
 (-117.11, 32.75),
 (-117.11, 32.75),
 (-117.11, 32.75),
 (-117.11, 32.75),
 (-117.11, 32.75),
 (-117.11, 32.74),
 (-117.11, 32.74),
 (-117.11, 32.74),
 (-117.11, 32.59),
 (-117.11, 32.58),
 (-117.11, 32.58),
 (-117.12, 34.46),
 (-117.12, 34.06),
 (-117.12, 34.04),
 (-117.12, 33.52),
 (-117.12, 33.27),
 (-117.12, 33.15),
 (-117.12, 33.14),
 (-117.12, 32.76),
 (-117.12, 32.75),
 (-117.12, 32.75),
 (-117.12, 32.75),
 (-117.12, 32.75),
 (-117.12, 32.75),
 (-117.12, 32.74),
 (-117.12, 32.74),
 (-117.12, 32.73),
 (-117.12, 32.72),
 (-117.13, 33.14),
 (-117.13, 33.14),
 (-117.13, 33.13),
 (-117.13, 32.97),
 (-117.13, 32.96),
 (-117.13, 32.94),
 (-117.13, 32.93),
 (-117.13, 32.92),
 (-117.13, 32.92),
 (-117.13, 32.92),
 (-117.13, 32.75),
 (-117.13, 32.75),
 (-117.13, 32.74),
 (-117.13, 32.74),
 (-117.13, 32.74),
 (-117.13, 32.73),
 (-117.13, 32.73),
 (-117.13, 32.73),
 (-117.13, 32.73),
 (-117.13, 32.72),
 (-117.14, 34.01),
 (-117.14, 33.94),
 (-117.14, 33.39),
 (-117.14, 33.23),
 (-117.14, 33.18),
 (-117.14, 33.16),
 (-117.14, 33.15),
 (-117.14, 33.15),
 (-117.14, 33.12),
 (-117.14, 33.07),
 (-117.14, 32.75),
 (-117.14, 32.75),
 (-117.14, 32.74),
 (-117.14, 32.74),
 (-117.14, 32.73),
 (-117.14, 32.72),
 (-117.14, 32.72),
 (-117.14, 32.72),
 (-117.14, 32.71),
 (-117.14, 32.71),
 (-117.15, 33.2),
 (-117.15, 33.16),
 (-117.15, 33.14),
 (-117.15, 33.02),
 (-117.15, 32.92),
 (-117.15, 32.92),
 (-117.15, 32.91),
 (-117.15, 32.91),
 (-117.15, 32.8),
 (-117.15, 32.8),
 (-117.16, 33.61),
 (-117.16, 33.57),
 (-117.16, 33.54),
 (-117.16, 33.06),
 (-117.16, 32.91),
 (-117.16, 32.89),
 (-117.16, 32.82),
 (-117.16, 32.81),
 (-117.16, 32.81),
 (-117.16, 32.8),
 (-117.17, 34.49),
 (-117.17, 34.25),
 (-117.17, 34.12),
 (-117.17, 34.12),
 (-117.17, 34.08),
 (-117.17, 34.07),
 (-117.17, 34.05),
 (-117.17, 34.05),
 (-117.17, 34.03),
 (-117.17, 33.83),
 (-117.17, 32.73),
 (-117.17, 32.73),
 (-117.17, 32.73),
 (-117.17, 32.72),
 (-117.17, 32.71),
 (-117.17, 32.71),
 (-117.17, 32.7),
 (-117.17, 32.69),
 (-117.17, 32.69),
 (-117.17, 32.69),
 (-117.18, 32.84),
 (-117.18, 32.83),
 (-117.18, 32.83),
 (-117.18, 32.82),
 (-117.18, 32.81),
 (-117.18, 32.81),
 (-117.18, 32.8),
 (-117.18, 32.8),
 (-117.18, 32.79),
 (-117.18, 32.78),
 (-117.19, 34.05),
 (-117.19, 34.05),
 (-117.19, 34.03),
 (-117.19, 34.03),
 (-117.19, 33.9),
 (-117.19, 33.7),
 (-117.19, 33.69),
 (-117.19, 33.53),
 (-117.19, 33.41),
 (-117.19, 33.34),
 (-117.19, 32.69),
 (-117.2, 34.52),
 (-117.2, 34.5),
 (-117.2, 34.48),
 (-117.2, 34.46),
 (-117.2, 34.26),
 (-117.2, 34.24),
 (-117.2, 34.15),
 (-117.2, 34.14),
 (-117.2, 34.14),
 (-117.2, 32.79),
 (-117.2, 32.79),
 (-117.2, 32.78),
 (-117.2, 32.77),
 (-117.21, 34.51),
 (-117.21, 34.28),
 (-117.21, 34.14),
 (-117.21, 34.13),
 (-117.21, 34.12),
 (-117.21, 34.11),
 (-117.21, 32.96),
 (-117.21, 32.89),
 (-117.21, 32.87),
 (-117.21, 32.86),
 (-117.21, 32.86),
 (-117.21, 32.86),
 (-117.21, 32.85),
 (-117.21, 32.84),
 (-117.21, 32.83),
 (-117.21, 32.83),
 (-117.22, 33.81),
 (-117.22, 33.8),
 (-117.22, 33.74),
 (-117.22, 33.66),
 (-117.22, 33.48),
 (-117.22, 33.36),
 (-117.22, 33.22),
 (-117.22, 33.22),
 (-117.22, 33.21),
 (-117.22, 33.2),
 (-117.22, 32.75),
 (-117.22, 32.74),
 (-117.22, 32.74),
 (-117.22, 32.74),
 (-117.23, 34.51),
 (-117.23, 34.49),
 (-117.23, 34.15),
 (-117.23, 34.14),
 (-117.23, 34.13),
 (-117.23, 34.12),
 (-117.23, 33.2),
 (-117.23, 33.19),
 (-117.23, 33.16),
 (-117.23, 33.09),
 (-117.23, 33.01),
 (-117.23, 32.99),
 (-117.23, 32.86),
 (-117.23, 32.86),
 (-117.23, 32.86),
 (-117.23, 32.85),
 (-117.24, 34.12),
 (-117.24, 34.11),
 (-117.24, 34.06),
 (-117.24, 34.04),
 (-117.24, 34.04),
 (-117.24, 33.95),
 (-117.24, 33.94),
 (-117.24, 33.85),
 (-117.24, 33.77),
 (-117.24, 33.4),
 (-117.24, 32.81),
 (-117.24, 32.81),
 (-117.24, 32.8),
 (-117.24, 32.8),
 (-117.24, 32.8),
 (-117.24, 32.8),
 (-117.24, 32.79),
 (-117.24, 32.79),
 (-117.24, 32.79),
 (-117.24, 32.79),
 (-117.25, 34.14),
 (-117.25, 34.13),
 (-117.25, 34.13),
 (-117.25, 34.12),
 (-117.25, 34.11),
 (-117.25, 34.11),
 (-117.25, 34.08),
 (-117.25, 34.07),
 (-117.25, 34.06),
 (-117.25, 34.06),
 (-117.25, 33.06),
 (-117.25, 33.05),
 (-117.25, 33.03),
 (-117.25, 33.01),
 (-117.25, 33.0),
 (-117.25, 32.99),
 (-117.25, 32.96),
 (-117.25, 32.94),
 (-117.25, 32.94),
 (-117.25, 32.86),
 (-117.25, 32.74),
 (-117.25, 32.74),
 (-117.25, 32.73),
 (-117.25, 32.73),
 (-117.25, 32.73),
 (-117.25, 32.72),
 (-117.25, 32.72),
 (-117.26, 34.53),
 (-117.26, 34.48),
 (-117.26, 34.43),
 (-117.26, 33.0),
 (-117.26, 32.98),
 (-117.26, 32.97),
 (-117.26, 32.96),
 (-117.26, 32.95),
 (-117.26, 32.95),
 (-117.26, 32.95),
 (-117.26, 32.95),
 (-117.26, 32.85),
 (-117.26, 32.83),
 (-117.27, 34.08),
 (-117.27, 34.07),
 (-117.27, 34.06),
 (-117.27, 34.05),
 (-117.27, 33.93),
 (-117.27, 33.92),
 (-117.27, 33.68),
 (-117.27, 33.55),
 (-117.27, 33.23),
 (-117.27, 33.22),
 (-117.27, 32.83),
 (-117.27, 32.82),
 (-117.27, 32.82),
 (-117.28, 35.13),
 (-117.28, 34.68),
 (-117.28, 34.51),
 (-117.28, 34.24),
 (-117.28, 34.17),
 (-117.28, 34.17),
 (-117.28, 34.16),
 (-117.28, 33.18),
 (-117.28, 33.18),
 (-117.28, 33.1),
 (-117.28, 33.04),
 (-117.28, 32.84),
 (-117.28, 32.84),
 (-117.28, 32.83),
 (-117.28, 32.8),
 (-117.28, 32.77),
 (-117.28, 32.75),
 (-117.29, 33.97),
 (-117.29, 33.83),
 (-117.29, 33.72),
 (-117.29, 33.63),
 (-117.29, 33.24),
 (-117.29, 33.2),
 (-117.29, 33.18),
 (-117.29, 33.18),
 (-117.29, 33.15),
 (-117.29, 33.13),
 (-117.3, 34.13),
 (-117.3, 34.12),
 (-117.3, 34.11),
 (-117.3, 34.07),
 (-117.3, 34.05),
 (-117.3, 33.26),
 (-117.3, 33.25),
 (-117.3, 33.23),
 (-117.3, 33.22),
 (-117.3, 33.17),
 (-117.31, 34.13),
 (-117.31, 34.12),
 (-117.31, 34.11),
 (-117.31, 34.11),
 (-117.31, 34.1),
 (-117.31, 34.09),
 (-117.31, 34.08),
 (-117.31, 34.08),
 (-117.31, 34.08),
 (-117.31, 34.07),
 (-117.32, 34.55),
 (-117.32, 34.54),
 (-117.32, 34.51),
 (-117.32, 34.49),
 (-117.32, 34.48),
 (-117.32, 34.41),
 (-117.32, 34.24),
 (-117.32, 34.19),
 (-117.32, 34.17),
 (-117.32, 34.16),
 (-117.32, 33.25),
 (-117.32, 33.25),
 (-117.32, 33.23),
 (-117.32, 33.22),
 (-117.32, 33.22),
 (-117.32, 33.15),
 (-117.32, 33.12),
 (-117.32, 33.01),
 (-117.33, 34.53),
 (-117.33, 34.41),
 (-117.33, 33.23),
 (-117.33, 33.22),
 (-117.33, 33.21),
 (-117.33, 33.17),
 (-117.33, 33.03),
 (-117.34, 34.39),
 (-117.34, 34.16),
 (-117.34, 34.14),
 (-117.34, 34.13),
 (-117.34, 34.13),
 (-117.34, 33.15),
 (-117.34, 33.15),
 (-117.34, 33.06),
 (-117.35, 34.5),
 (-117.35, 34.44),
 (-117.35, 34.2),
 (-117.35, 34.17),
 (-117.35, 34.16),
 (-117.35, 34.15),
 (-117.35, 34.12),
 (-117.35, 33.16),
 (-117.36, 34.54),
 (-117.36, 34.48),
 (-117.36, 34.28),
 (-117.36, 34.11),
 (-117.36, 34.1),
 (-117.36, 34.1),
 (-117.36, 34.08),
 (-117.36, 34.0),
 (-117.36, 33.99),
 (-117.37, 34.01),
 (-117.37, 34.0),
 (-117.37, 34.0),
 (-117.37, 33.99),
 (-117.37, 33.98),
 (-117.37, 33.98),
 (-117.37, 33.97),
 (-117.37, 33.97),
 (-117.37, 33.96),
 (-117.37, 33.95),
 (-117.38, 34.07),
 (-117.38, 34.06),
 (-117.38, 34.0),
 (-117.38, 33.99),
 (-117.38, 33.98),
 (-117.38, 33.97),
 (-117.38, 33.97),
 (-117.38, 33.96),
 (-117.38, 33.94),
 (-117.38, 33.89),
 (-117.4, 34.15),
 (-117.4, 34.11),
 (-117.4, 34.09),
 (-117.4, 34.08),
 (-117.4, 34.07),
 (-117.4, 34.06),
 (-117.4, 34.04),
 (-117.4, 34.0),
 (-117.4, 34.0),
 (-117.4, 33.97),
 (-117.41, 34.0),
 (-117.41, 33.97),
 (-117.41, 33.97),
 (-117.41, 33.96),
 (-117.41, 33.96),
 (-117.41, 33.95),
 (-117.41, 33.95),
 (-117.41, 33.94),
 (-117.41, 33.94),
 (-117.41, 33.93),
 (-117.43, 34.07),
 (-117.43, 34.02),
 (-117.43, 34.01),
 (-117.43, 33.99),
 (-117.43, 33.98),
 (-117.43, 33.96),
 (-117.43, 33.95),
 (-117.43, 33.93),
 (-117.43, 33.93),
 (-117.43, 33.91),
 (-117.45, 33.93),
 (-117.45, 33.92),
 (-117.45, 33.91),
 (-117.46, 34.85),
 (-117.46, 34.14),
 (-117.46, 34.1),
 (-117.46, 34.1),
 (-117.46, 34.09),
 (-117.46, 34.07),
 (-117.46, 34.06),
 (-117.48, 34.0),
 (-117.48, 33.94),
 (-117.48, 33.94),
 (-117.48, 33.93),
 (-117.48, 33.91),
 (-117.48, 33.89),
 (-117.49, 34.04),
 (-117.49, 34.02),
 (-117.49, 34.02),
 (-117.49, 33.99),
 (-117.51, 33.88),
 (-117.52, 33.99),
 (-117.52, 33.89),
 (-117.52, 33.84),
 (-117.52, 33.83),
 (-117.52, 33.82),
 (-117.53, 34.28),
 (-117.53, 34.1),
 (-117.53, 34.06),
 (-117.53, 34.02),
 (-117.55, 33.85),
 (-117.55, 33.83),
 (-117.55, 33.52),
 (-117.56, 34.12),
 (-117.56, 34.12),
 (-117.56, 33.94),
 (-117.56, 33.94),
 (-117.56, 33.89),
 (-117.56, 33.88),
 (-117.56, 33.86),
 (-117.58, 33.65),
 (-117.58, 33.65),
 (-117.58, 33.6),
 (-117.59, 34.16),
 (-117.59, 34.13),
 (-117.59, 34.1),
 (-117.59, 34.09),
 (-117.59, 34.03),
 (-117.59, 34.02),
 (-117.59, 33.93),
 (-117.6, 33.42),
 (-117.6, 33.41),
 (-117.61, 34.14),
 (-117.61, 34.13),
 (-117.61, 34.1),
 (-117.61, 34.09),
 (-117.61, 34.09),
 (-117.61, 34.08),
 (-117.61, 34.04),
 (-117.61, 34.02),
 (-117.62, 34.02),
 (-117.62, 34.02),
 (-117.62, 33.77),
 (-117.62, 33.64),
 (-117.62, 33.47),
 (-117.62, 33.43),
 (-117.62, 33.43),
 (-117.62, 33.43),
 (-117.62, 33.42),
 (-117.62, 33.42),
 (-117.64, 34.12),
 (-117.64, 34.11),
 (-117.64, 34.08),
 (-117.64, 34.08),
 (-117.64, 34.08),
 (-117.64, 34.07),
 (-117.64, 34.07),
 (-117.64, 34.07),
 (-117.64, 34.07),
 (-117.64, 34.06),
 (-117.64, 33.45),
 (-117.65, 34.14),
 (-117.65, 34.14),
 (-117.65, 34.13),
 (-117.65, 34.12),
 (-117.65, 34.12),
 (-117.65, 34.11),
 (-117.65, 34.11),
 (-117.65, 34.1),
 (-117.65, 34.1),
 (-117.65, 33.6),
 (-117.65, 33.6),
 (-117.65, 33.59),
 (-117.65, 33.58),
 (-117.65, 33.53),
 (-117.65, 33.49),
 (-117.65, 33.48),
 (-117.65, 33.48),
 (-117.65, 33.45),
 (-117.65, 33.42),
 (-117.66, 34.07),
 (-117.66, 34.06),
 (-117.66, 34.05),
 (-117.66, 34.05),
 (-117.66, 34.05),
 (-117.66, 34.04),
 (-117.66, 34.04),
 (-117.66, 34.03),
 (-117.66, 34.02),
 (-117.66, 34.02),
 (-117.67, 35.63),
 (-117.67, 34.13),
 (-117.67, 34.12),
 (-117.67, 34.1),
 (-117.67, 34.1),
 (-117.67, 34.09),
 (-117.67, 34.07),
 (-117.67, 34.06),
 (-117.67, 34.05),
 (-117.67, 34.04),
 (-117.67, 33.46),
 (-117.67, 33.44),
 (-117.68, 35.64),
 (-117.68, 35.55),
 (-117.68, 35.03),
 (-117.68, 34.99),
 (-117.68, 34.15),
 (-117.68, 34.15),
 (-117.68, 34.14),
 (-117.68, 34.12),
 (-117.68, 33.54),
 (-117.68, 33.52),
 (-117.68, 33.51),
 (-117.68, 33.51),
 (-117.68, 33.49),
 (-117.68, 33.49),
 (-117.68, 33.49),
 (-117.68, 33.48),
 (-117.68, 33.47),
 (-117.69, 36.13),
 (-117.69, 33.6),
 (-117.69, 33.6),
 (-117.69, 33.59),
 (-117.69, 33.58),
 (-117.69, 33.55),
 (-117.69, 33.55),
 (-117.69, 33.54),
 (-117.69, 33.53),
 (-117.69, 33.52),
 (-117.69, 33.52),
 (-117.7, 33.63),
 (-117.7, 33.62),
 (-117.7, 33.62),
 (-117.7, 33.6),
 (-117.7, 33.6),
 (-117.7, 33.59),
 (-117.7, 33.57),
 (-117.7, 33.57),
 (-117.7, 33.56),
 (-117.7, 33.56),
 (-117.71, 34.03),
 (-117.71, 33.97),
 (-117.71, 33.64),
 (-117.71, 33.63),
 (-117.71, 33.62),
 (-117.71, 33.61),
 (-117.71, 33.61),
 (-117.71, 33.6),
 (-117.71, 33.6),
 (-117.71, 33.58),
 (-117.72, 33.99),
 (-117.72, 33.97),
 (-117.72, 33.64),
 (-117.72, 33.63),
 (-117.72, 33.62),
 (-117.72, 33.62),
 (-117.72, 33.62),
 (-117.72, 33.61),
 (-117.72, 33.61),
 (-117.72, 33.54),
 (-117.73, 34.01),
 (-117.73, 33.61),
 (-117.73, 33.61),
 (-117.73, 33.53),
 (-117.73, 33.51),
 (-117.73, 33.49),
 (-117.73, 33.49),
 (-117.74, 35.65),
 (-117.74, 34.11),
 (-117.74, 34.1),
 (-117.75, 34.12),
 (-117.75, 34.1),
 (-117.75, 34.09),
 (-117.75, 34.08),
 (-117.75, 34.08),
 (-117.75, 34.07),
 (-117.75, 34.07),
 (-117.75, 34.07),
 (-117.75, 34.06),
 (-117.75, 34.06),
 (-117.76, 34.11),
 (-117.76, 34.1),
 (-117.76, 34.08),
 (-117.76, 34.07),
 (-117.76, 34.07),
 (-117.76, 34.06),
 (-117.76, 34.06),
 (-117.76, 34.05),
 (-117.76, 34.04),
 (-117.76, 34.04),
 (-117.77, 34.07),
 (-117.77, 33.85),
 (-117.77, 33.84),
 (-117.77, 33.8),
 (-117.77, 33.76),
 (-117.77, 33.72),
 (-117.77, 33.71),
 (-117.77, 33.71),
 (-117.77, 33.71),
 (-117.77, 33.7),
 (-117.78, 33.97),
 (-117.78, 33.9),
 (-117.78, 33.89),
 (-117.78, 33.88),
 (-117.78, 33.87),
 (-117.78, 33.86),
 (-117.78, 33.85),
 (-117.78, 33.82),
 (-117.78, 33.81),
 (-117.78, 33.78),
 ...]

Si queremos **filtrar** elementos, usamos `filter`

In [27]:
rddspark2.filter(lambda x : x['housing_median_age']>46).count()

1617

In [28]:
rddspark2.filter(lambda x : x['housing_median_age']>46).distinct().collect()

[Row(longitude=-117.14, latitude=32.71, housing_median_age=52.0, total_rooms=800.0, total_bedrooms=313.0, population=1337.0, households=282.0, median_income=1.5594, median_house_value=87500.0),
 Row(longitude=-117.17, latitude=32.73, housing_median_age=52.0, total_rooms=408.0, total_bedrooms=143.0, population=313.0, households=143.0, median_income=1.815, median_house_value=116700.0),
 Row(longitude=-117.22, latitude=32.74, housing_median_age=52.0, total_rooms=1283.0, total_bedrooms=173.0, population=436.0, households=190.0, median_income=7.4029, median_house_value=345700.0),
 Row(longitude=-117.31, latitude=34.11, housing_median_age=52.0, total_rooms=851.0, total_bedrooms=190.0, population=731.0, households=190.0, median_income=1.9044, median_house_value=64900.0),
 Row(longitude=-117.31, latitude=34.1, housing_median_age=52.0, total_rooms=1457.0, total_bedrooms=415.0, population=1238.0, households=341.0, median_income=2.0089, median_house_value=68100.0),
 Row(longitude=-117.37, latitude=33.98, housing_median_age=52.0, total_rooms=201.0, total_bedrooms=44.0, population=130.0, households=24.0, median_income=2.025, median_house_value=125000.0),
 Row(longitude=-117.38, latitude=33.98, housing_median_age=52.0, total_rooms=2274.0, total_bedrooms=571.0, population=1167.0, households=504.0, median_income=2.0284, median_house_value=101600.0),
 Row(longitude=-117.64, latitude=34.07, housing_median_age=52.0, total_rooms=1644.0, total_bedrooms=372.0, population=1269.0, households=355.0, median_income=2.6913, median_house_value=108300.0),
 Row(longitude=-117.75, latitude=34.07, housing_median_age=52.0, total_rooms=1548.0, total_bedrooms=348.0, population=1131.0, households=343.0, median_income=2.63, median_house_value=127300.0),
 Row(longitude=-117.75, latitude=34.06, housing_median_age=52.0, total_rooms=24.0, total_bedrooms=6.0, population=46.0, households=7.0, median_income=1.625, median_house_value=67500.0),
 Row(longitude=-117.76, latitude=34.06, housing_median_age=47.0, total_rooms=508.0, total_bedrooms=108.0, population=384.0, households=86.0, median_income=1.9583, median_house_value=92600.0),
 Row(longitude=-117.85, latitude=33.79, housing_median_age=52.0, total_rooms=1963.0, total_bedrooms=430.0, population=1197.0, households=415.0, median_income=3.8929, median_house_value=211000.0),
 Row(longitude=-117.91, latitude=33.87, housing_median_age=52.0, total_rooms=2031.0, total_bedrooms=506.0, population=1191.0, households=463.0, median_income=2.9076, median_house_value=177300.0),
 Row(longitude=-117.93, latitude=33.88, housing_median_age=52.0, total_rooms=2157.0, total_bedrooms=362.0, population=1001.0, households=373.0, median_income=5.1237, median_house_value=240000.0),
 Row(longitude=-117.93, latitude=33.87, housing_median_age=52.0, total_rooms=950.0, total_bedrooms=229.0, population=429.0, households=185.0, median_income=2.315, median_house_value=182100.0),
 Row(longitude=-118.04, latitude=34.07, housing_median_age=52.0, total_rooms=177.0, total_bedrooms=59.0, population=269.0, households=75.0, median_income=2.3611, median_house_value=131300.0),
 Row(longitude=-118.09, latitude=34.15, housing_median_age=49.0, total_rooms=1467.0, total_bedrooms=259.0, population=688.0, households=260.0, median_income=4.3452, median_house_value=260100.0),
 Row(longitude=-118.11, latitude=34.12, housing_median_age=52.0, total_rooms=2954.0, total_bedrooms=371.0, population=1152.0, households=347.0, median_income=11.5609, median_house_value=500001.0),
 Row(longitude=-118.11, latitude=34.11, housing_median_age=50.0, total_rooms=2131.0, total_bedrooms=294.0, population=753.0, households=284.0, median_income=6.7099, median_house_value=352200.0),
 Row(longitude=-118.12, latitude=34.17, housing_median_age=52.0, total_rooms=2948.0, total_bedrooms=542.0, population=1363.0, households=495.0, median_income=4.7098, median_house_value=287900.0),
 Row(longitude=-118.12, latitude=34.12, housing_median_age=52.0, total_rooms=2907.0, total_bedrooms=317.0, population=956.0, households=279.0, median_income=15.0001, median_house_value=500001.0),
 Row(longitude=-118.14, latitude=33.76, housing_median_age=50.0, total_rooms=2960.0, total_bedrooms=761.0, population=1179.0, households=718.0, median_income=3.5214, median_house_value=398100.0),
 Row(longitude=-118.15, latitude=34.12, housing_median_age=49.0, total_rooms=1789.0, total_bedrooms=288.0, population=848.0, households=311.0, median_income=6.0199, median_house_value=500000.0),
 Row(longitude=-118.16, latitude=34.17, housing_median_age=52.0, total_rooms=1193.0, total_bedrooms=228.0, population=703.0, households=221.0, median_income=3.1741, median_house_value=163800.0),
 Row(longitude=-118.18, latitude=33.82, housing_median_age=52.0, total_rooms=2618.0, total_bedrooms=472.0, population=943.0, households=440.0, median_income=3.7895, median_house_value=254000.0),
 Row(longitude=-118.19, latitude=34.12, housing_median_age=52.0, total_rooms=679.0, total_bedrooms=132.0, population=483.0, households=163.0, median_income=4.2344, median_house_value=162500.0),
 Row(longitude=-118.19, latitude=34.03, housing_median_age=52.0, total_rooms=1053.0, total_bedrooms=246.0, population=1036.0, households=249.0, median_income=2.1071, median_house_value=136700.0),
 Row(longitude=-118.2, latitude=34.11, housing_median_age=52.0, total_rooms=678.0, total_bedrooms=173.0, population=791.0, households=186.0, median_income=4.0625, median_house_value=171300.0),
 Row(longitude=-118.2, latitude=34.11, housing_median_age=52.0, total_rooms=1901.0, total_bedrooms=525.0, population=1856.0, households=480.0, median_income=3.0, median_house_value=156400.0),
 Row(longitude=-118.2, latitude=34.08, housing_median_age=49.0, total_rooms=1320.0, total_bedrooms=309.0, population=1405.0, households=328.0, median_income=2.4375, median_house_value=114000.0),
 Row(longitude=-118.21, latitude=34.04, housing_median_age=52.0, total_rooms=846.0, total_bedrooms=271.0, population=1153.0, households=281.0, median_income=2.1923, median_house_value=155000.0),
 Row(longitude=-118.23, latitude=34.2, housing_median_age=48.0, total_rooms=1473.0, total_bedrooms=294.0, population=807.0, households=296.0, median_income=3.399, median_house_value=306300.0),
 Row(longitude=-118.23, latitude=33.97, housing_median_age=47.0, total_rooms=932.0, total_bedrooms=295.0, population=1226.0, households=264.0, median_income=1.6065, median_house_value=111400.0),
 Row(longitude=-118.24, latitude=34.08, housing_median_age=52.0, total_rooms=137.0, total_bedrooms=26.0, population=65.0, households=24.0, median_income=4.025, median_house_value=137500.0),
 Row(longitude=-118.26, latitude=34.12, housing_median_age=52.0, total_rooms=2290.0, total_bedrooms=520.0, population=1278.0, households=485.0, median_income=3.8393, median_house_value=238200.0),
 Row(longitude=-118.26, latitude=34.1, housing_median_age=52.0, total_rooms=1310.0, total_bedrooms=263.0, population=689.0, households=208.0, median_income=4.0721, median_house_value=350000.0),
 Row(longitude=-118.26, latitude=34.1, housing_median_age=48.0, total_rooms=2566.0, total_bedrooms=571.0, population=1421.0, households=563.0, median_income=3.6579, median_house_value=318600.0),
 Row(longitude=-118.26, latitude=34.09, housing_median_age=51.0, total_rooms=1532.0, total_bedrooms=366.0, population=669.0, households=333.0, median_income=3.6434, median_house_value=278800.0),
 Row(longitude=-118.26, latitude=34.08, housing_median_age=52.0, total_rooms=984.0, total_bedrooms=276.0, population=994.0, households=260.0, median_income=2.3816, median_house_value=166700.0),
 Row(longitude=-118.26, latitude=33.97, housing_median_age=52.0, total_rooms=1331.0, total_bedrooms=346.0, population=1144.0, households=362.0, median_income=1.5326, median_house_value=90600.0),
 Row(longitude=-118.28, latitude=34.06, housing_median_age=52.0, total_rooms=936.0, total_bedrooms=454.0, population=990.0, households=354.0, median_income=1.1122, median_house_value=187500.0),
 Row(longitude=-118.28, latitude=34.06, housing_median_age=52.0, total_rooms=1261.0, total_bedrooms=616.0, population=2309.0, households=581.0, median_income=1.6184, median_house_value=225000.0),
 Row(longitude=-118.28, latitude=33.98, housing_median_age=47.0, total_rooms=865.0, total_bedrooms=193.0, population=782.0, households=217.0, median_income=2.2411, median_house_value=93000.0),
 Row(longitude=-118.29, latitude=34.11, housing_median_age=49.0, total_rooms=2850.0, total_bedrooms=379.0, population=1113.0, households=380.0, median_income=12.9591, median_house_value=500001.0),
 Row(longitude=-118.3, latitude=33.99, housing_median_age=47.0, total_rooms=2637.0, total_bedrooms=588.0, population=1903.0, households=521.0, median_income=1.8317, median_house_value=96500.0),
 Row(longitude=-118.3, latitude=33.99, housing_median_age=47.0, total_rooms=2212.0, total_bedrooms=533.0, population=1903.0, households=554.0, median_income=1.9853, median_house_value=101100.0),
 Row(longitude=-118.31, latitude=34.02, housing_median_age=52.0, total_rooms=1832.0, total_bedrooms=441.0, population=1186.0, households=420.0, median_income=1.2434, median_house_value=98400.0),
 Row(longitude=-118.31, latitude=34.01, housing_median_age=50.0, total_rooms=1463.0, total_bedrooms=354.0, population=912.0, households=293.0, median_income=1.7386, median_house_value=109400.0),
 Row(longitude=-118.31, latitude=34.01, housing_median_age=48.0, total_rooms=2544.0, total_bedrooms=532.0, population=1357.0, households=498.0, median_income=2.5263, median_house_value=121000.0),
 Row(longitude=-118.31, latitude=33.96, housing_median_age=47.0, total_rooms=1586.0, total_bedrooms=322.0, population=1077.0, households=339.0, median_income=4.4861, median_house_value=140400.0),
 Row(longitude=-118.32, latitude=34.17, housing_median_age=47.0, total_rooms=2589.0, total_bedrooms=465.0, population=1284.0, households=485.0, median_income=5.1008, median_house_value=247100.0),
 Row(longitude=-118.32, latitude=34.16, housing_median_age=49.0, total_rooms=1074.0, total_bedrooms=170.0, population=403.0, households=208.0, median_income=6.2547, median_house_value=366700.0),
 Row(longitude=-118.32, latitude=34.04, housing_median_age=47.0, total_rooms=1989.0, total_bedrooms=532.0, population=1430.0, households=519.0, median_income=1.8333, median_house_value=151100.0),
 Row(longitude=-118.32, latitude=33.98, housing_median_age=47.0, total_rooms=1528.0, total_bedrooms=331.0, population=864.0, households=308.0, median_income=1.9732, median_house_value=101000.0),
 Row(longitude=-118.33, latitude=34.18, housing_median_age=49.0, total_rooms=1969.0, total_bedrooms=377.0, population=977.0, households=367.0, median_income=3.8462, median_house_value=231300.0),
 Row(longitude=-118.34, latitude=34.08, housing_median_age=52.0, total_rooms=2756.0, total_bedrooms=542.0, population=971.0, households=510.0, median_income=5.5871, median_house_value=500001.0),
 Row(longitude=-118.34, latitude=34.03, housing_median_age=48.0, total_rooms=1426.0, total_bedrooms=331.0, population=784.0, households=356.0, median_income=1.6581, median_house_value=118800.0),
 Row(longitude=-118.34, latitude=34.02, housing_median_age=48.0, total_rooms=1614.0, total_bedrooms=320.0, population=684.0, households=318.0, median_income=4.2218, median_house_value=181000.0),
 Row(longitude=-118.35, latitude=34.17, housing_median_age=47.0, total_rooms=858.0, total_bedrooms=170.0, population=365.0, households=171.0, median_income=2.0385, median_house_value=225000.0),
 Row(longitude=-118.35, latitude=34.06, housing_median_age=52.0, total_rooms=1368.0, total_bedrooms=322.0, population=617.0, households=303.0, median_income=5.3819, median_house_value=440900.0),
 Row(longitude=-118.35, latitude=34.06, housing_median_age=48.0, total_rooms=3551.0, total_bedrooms=826.0, population=1601.0, households=827.0, median_income=3.2279, median_house_value=400000.0),
 Row(longitude=-118.37, latitude=34.07, housing_median_age=52.0, total_rooms=1084.0, total_bedrooms=247.0, population=468.0, households=255.0, median_income=3.4286, median_house_value=474300.0),
 Row(longitude=-118.37, latitude=34.07, housing_median_age=50.0, total_rooms=2519.0, total_bedrooms=537.0, population=1117.0, households=516.0, median_income=4.3667, median_house_value=405600.0),
 Row(longitude=-118.37, latitude=34.05, housing_median_age=52.0, total_rooms=2346.0, total_bedrooms=437.0, population=1121.0, households=400.0, median_income=4.0583, median_house_value=444300.0),
 Row(longitude=-118.38, latitude=34.08, housing_median_age=48.0, total_rooms=1226.0, total_bedrooms=288.0, population=370.0, households=264.0, median_income=3.9375, median_house_value=450000.0),
 Row(longitude=-118.38, latitude=34.07, housing_median_age=48.0, total_rooms=2799.0, total_bedrooms=596.0, population=1235.0, households=561.0, median_income=4.4896, median_house_value=500001.0),
 Row(longitude=-118.4, latitude=34.01, housing_median_age=48.0, total_rooms=1427.0, total_bedrooms=253.0, population=693.0, households=268.0, median_income=5.7405, median_house_value=351600.0),
 Row(longitude=-118.45, latitude=33.99, housing_median_age=52.0, total_rooms=1010.0, total_bedrooms=244.0, population=573.0, households=242.0, median_income=4.1861, median_house_value=363200.0),
 Row(longitude=-118.46, latitude=33.99, housing_median_age=52.0, total_rooms=1158.0, total_bedrooms=253.0, population=528.0, households=253.0, median_income=3.5234, median_house_value=334700.0),
 Row(longitude=-119.7, latitude=34.41, housing_median_age=52.0, total_rooms=1526.0, total_bedrooms=458.0, population=1633.0, households=449.0, median_income=2.2069, median_house_value=226500.0),
 Row(longitude=-119.77, latitude=36.74, housing_median_age=50.0, total_rooms=1325.0, total_bedrooms=280.0, population=811.0, households=281.0, median_income=1.8667, median_house_value=62800.0),
 Row(longitude=-119.78, latitude=36.76, housing_median_age=47.0, total_rooms=1425.0, total_bedrooms=323.0, population=949.0, households=325.0, median_income=1.7344, median_house_value=51300.0),
 Row(longitude=-119.78, latitude=36.75, housing_median_age=49.0, total_rooms=1175.0, total_bedrooms=307.0, population=982.0, households=278.0, median_income=1.2937, median_house_value=52000.0),
 Row(longitude=-120.65, latitude=35.27, housing_median_age=52.0, total_rooms=2254.0, total_bedrooms=642.0, population=1237.0, households=590.0, median_income=2.6208, median_house_value=227100.0),
 Row(longitude=-121.03, latitude=40.35, housing_median_age=52.0, total_rooms=5486.0, total_bedrooms=1044.0, population=1977.0, households=754.0, median_income=2.1833, median_house_value=49500.0),
 Row(longitude=-121.03, latitude=39.26, housing_median_age=49.0, total_rooms=3739.0, total_bedrooms=759.0, population=1422.0, households=606.0, median_income=2.4283, median_house_value=143100.0),
 Row(longitude=-121.29, latitude=37.97, housing_median_age=52.0, total_rooms=2995.0, total_bedrooms=555.0, population=1392.0, households=503.0, median_income=1.7794, median_house_value=98800.0),
 Row(longitude=-121.32, latitude=37.96, housing_median_age=47.0, total_rooms=1700.0, total_bedrooms=344.0, population=922.0, households=357.0, median_income=3.1845, median_house_value=87200.0),
 Row(longitude=-121.45, latitude=38.57, housing_median_age=52.0, total_rooms=3994.0, total_bedrooms=635.0, population=1295.0, households=625.0, median_income=5.1169, median_house_value=232500.0),
 Row(longitude=-121.91, latitude=39.03, housing_median_age=48.0, total_rooms=1096.0, total_bedrooms=218.0, population=657.0, households=199.0, median_income=2.7841, median_house_value=65800.0),
 Row(longitude=-121.92, latitude=36.62, housing_median_age=52.0, total_rooms=974.0, total_bedrooms=190.0, population=403.0, households=181.0, median_income=4.3281, median_house_value=236500.0),
 Row(longitude=-121.92, latitude=36.62, housing_median_age=52.0, total_rooms=867.0, total_bedrooms=199.0, population=391.0, households=187.0, median_income=2.6713, median_house_value=234600.0),
 Row(longitude=-122.15, latitude=37.74, housing_median_age=52.0, total_rooms=2898.0, total_bedrooms=557.0, population=1338.0, households=550.0, median_income=3.851, median_house_value=183500.0),
 Row(longitude=-122.15, latitude=37.74, housing_median_age=49.0, total_rooms=1325.0, total_bedrooms=277.0, population=764.0, households=282.0, median_income=3.3125, median_house_value=118000.0),
 Row(longitude=-122.15, latitude=37.72, housing_median_age=47.0, total_rooms=1190.0, total_bedrooms=251.0, population=540.0, households=266.0, median_income=3.375, median_house_value=198300.0),
 Row(longitude=-122.15, latitude=37.44, housing_median_age=52.0, total_rooms=1400.0, total_bedrooms=217.0, population=522.0, households=227.0, median_income=4.9861, median_house_value=500001.0),
 Row(longitude=-122.16, latitude=37.73, housing_median_age=52.0, total_rooms=1114.0, total_bedrooms=206.0, population=425.0, households=207.0, median_income=2.5625, median_house_value=175000.0),
 Row(longitude=-122.17, latitude=37.46, housing_median_age=47.0, total_rooms=2312.0, total_bedrooms=332.0, population=1044.0, households=282.0, median_income=9.459, median_house_value=500001.0),
 Row(longitude=-122.18, latitude=37.77, housing_median_age=52.0, total_rooms=1748.0, total_bedrooms=362.0, population=1029.0, households=366.0, median_income=2.0556, median_house_value=100000.0),
 Row(longitude=-122.18, latitude=37.77, housing_median_age=51.0, total_rooms=2107.0, total_bedrooms=471.0, population=1173.0, households=438.0, median_income=3.2552, median_house_value=120100.0),
 Row(longitude=-122.21, latitude=37.78, housing_median_age=47.0, total_rooms=881.0, total_bedrooms=248.0, population=753.0, households=241.0, median_income=2.625, median_house_value=111300.0),
 Row(longitude=-122.21, latitude=37.77, housing_median_age=52.0, total_rooms=591.0, total_bedrooms=173.0, population=353.0, households=137.0, median_income=4.0904, median_house_value=80600.0),
 Row(longitude=-122.23, latitude=37.83, housing_median_age=52.0, total_rooms=2990.0, total_bedrooms=379.0, population=947.0, households=361.0, median_income=7.8772, median_house_value=500001.0),
 Row(longitude=-122.23, latitude=37.82, housing_median_age=52.0, total_rooms=3494.0, total_bedrooms=396.0, population=1192.0, households=383.0, median_income=12.3804, median_house_value=500001.0),
 Row(longitude=-122.23, latitude=37.82, housing_median_age=52.0, total_rooms=3242.0, total_bedrooms=366.0, population=1001.0, households=352.0, median_income=12.2138, median_house_value=500001.0),
 Row(longitude=-122.23, latitude=37.82, housing_median_age=52.0, total_rooms=1611.0, total_bedrooms=203.0, population=556.0, households=179.0, median_income=8.7477, median_house_value=500001.0),
 Row(longitude=-122.23, latitude=37.81, housing_median_age=52.0, total_rooms=2814.0, total_bedrooms=365.0, population=878.0, households=352.0, median_income=7.508, median_house_value=348700.0),
 Row(longitude=-122.23, latitude=37.81, housing_median_age=52.0, total_rooms=2315.0, total_bedrooms=292.0, population=861.0, households=258.0, median_income=8.8793, median_house_value=410300.0),
 Row(longitude=-122.23, latitude=37.81, housing_median_age=52.0, total_rooms=1433.0, total_bedrooms=229.0, population=612.0, households=213.0, median_income=4.7708, median_house_value=314700.0),
 Row(longitude=-122.23, latitude=37.8, housing_median_age=52.0, total_rooms=783.0, total_bedrooms=184.0, population=488.0, households=186.0, median_income=1.9375, median_house_value=126600.0),
 Row(longitude=-122.24, latitude=37.82, housing_median_age=52.0, total_rooms=1509.0, total_bedrooms=225.0, population=674.0, households=244.0, median_income=4.9306, median_house_value=313400.0),
 Row(longitude=-122.24, latitude=37.81, housing_median_age=52.0, total_rooms=1490.0, total_bedrooms=238.0, population=634.0, households=256.0, median_income=6.0302, median_house_value=287300.0),

## Map vs flatmap

`map` Siempre devuelve el mismo número de registros, mientras  `flatMap` devuelve más de un registro para cada registro (~ lo aplana).

In [29]:
#flatMap

data = ["Project Gutenberg’s",
        "Alice’s Adventures in Wonderland",
        "Project Gutenberg’s",
        "Adventures in Wonderland",
        "Project Gutenberg’s"]
rdd=spark.sparkContext.parallelize(data)
print ('element as is')
print ('**********************************************')

for element in rdd.collect():
    print(element)

print ('**********************************************')
print ('flat map by whitespace')
print ('**********************************************')

rdd2 = rdd.flatMap(lambda x: x.split(' '))
for element in rdd2.collect():
    print(element)

    
print ('**********************************************')
print ('map by whitespace')
print ('**********************************************')

rdd2 = rdd.map(lambda x: x.split(' '))
for element in rdd2.collect():
    print(element)

element as is
**********************************************
Project Gutenberg’s
Alice’s Adventures in Wonderland
Project Gutenberg’s
Adventures in Wonderland
Project Gutenberg’s
**********************************************
flat map by whitespace
**********************************************
Project
Gutenberg’s
Alice’s
Adventures
in
Wonderland
Project
Gutenberg’s
Adventures
in
Wonderland
Project
Gutenberg’s
**********************************************
map by whitespace
**********************************************
['Project', 'Gutenberg’s']
['Alice’s', 'Adventures', 'in', 'Wonderland']
['Project', 'Gutenberg’s']
['Adventures', 'in', 'Wonderland']
['Project', 'Gutenberg’s']

## Reduce By Key

`reduceByKey`
Permite **mezclar valores de un rdd en forma clave:valor**. Escanea los valores que le llegan, si encuentra una nueva clave la añade, y si encuentra pares clave-valor que comparten una misma clave, aplica la función definida en su llamada.

In [30]:
datitos = spark.sparkContext.parallelize([[{'nombre':'Juanito'},{'localidad':'MAD'},{'edad':25}],[{'nombre':'Fulanito'},{'localidad':'MAD'},{'edad':14}],[{'nombre':'Menganito'},{'localidad':'TOL'},{'edad':35}]])

In [31]:
datitos

ParallelCollectionRDD[62] at readRDDFromFile at PythonRDD.scala:287

In [32]:
datitos.collect()

[[{'nombre': 'Juanito'}, {'localidad': 'MAD'}, {'edad': 25}],
 [{'nombre': 'Fulanito'}, {'localidad': 'MAD'}, {'edad': 14}],
 [{'nombre': 'Menganito'}, {'localidad': 'TOL'}, {'edad': 35}]]

Para aplicar las transformaciones, primero debemos usar `map`. 

Fijaos que, en este caso, estamos diciendo que un registro es una lista de diccionarios. Tenemos que tratar, por tanto, nuestros datos con este formato

In [33]:
minidatitos = datitos.map(lambda x : ( x[1].get('localidad'),x[2].get('edad')))

In [34]:
minidatitos.collect()

[('MAD', 25), ('MAD', 14), ('TOL', 35)]

In [35]:
minidatitos.reduceByKey(lambda x,y : (x + y) / 2).collect()

[('TOL', 35), ('MAD', 19.5)]


# Dataframe

Dataframe nos permite trabajar con RDD a más alto nivel, como si de una tabla de BBDD se tratase.

No impone un tipado fuerte, pero sí un esquema (implícito o explícito) sobre los datos.

## Descriptivos

¿Numero de registros en el dataframe?

In [36]:
df_spark.count()

17000




## Estructura del dataframe

In [37]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

¿Nombre de las Columnas de dataframe?

In [38]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

Ver los primeros 20 registros del dataframe

In [39]:
df_spark.collect()[0]

Row(longitude=-114.31, latitude=34.19, housing_median_age=15.0, total_rooms=5612.0, total_bedrooms=1283.0, population=1015.0, households=472.0, median_income=1.4936, median_house_value=66900.0)

In [40]:
df_spark.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [41]:
arrayData = [ ['el caso'],['es'],[' asi es nuestra casa']
]

df = spark.createDataFrame(data=arrayData)
df.printSchema()
df.show()
df2 = df.select(
        F.explode(
            F.split(df._1, " ")
        ).alias("word"))
df2.show()

root
 |-- _1: string (nullable = true)

+--------------------+
|                  _1|
+--------------------+
|             el caso|
|                  es|
| asi es nuestra casa|
+--------------------+

+-------+
|   word|
+-------+
|     el|
|   caso|
|     es|
|       |
|    asi|
|     es|
|nuestra|
|   casa|
+-------+

## Descricipcion Estadistica del dataframe

Anteriormente, ya hemos realizado un describe sobre el `pandas dataframe` obtenido a partir del `spark dataframe`. Este método  no es igual al describe sobre un `pandas`. Por ejemplo:

In [42]:
df_spark.describe

<bound method DataFrame.describe of DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double]>

In [43]:
df_spark.limit(10).toPandas().describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,-114.542000,34.000000,26.000000,2832.900000,658.900000,1042.400000,389.700000,2.217910,68300.000000
std,0.089294,0.519145,11.205158,2377.174534,595.440537,858.024242,283.480766,0.647966,13363.299659
min,-114.600000,33.570000,14.000000,720.000000,168.000000,333.000000,117.000000,1.493600,48100.000000
25%,-114.587500,33.615000,17.500000,1403.750000,254.250000,542.250000,229.250000,1.736225,60175.000000
50%,-114.575000,33.665000,22.500000,1499.000000,331.500000,729.000000,266.500000,2.051600,70150.000000
75%,-114.562500,34.347500,32.750000,4318.500000,1051.250000,1100.500000,469.750000,2.555300,78575.000000
max,-114.310000,34.830000,46.000000,7650.000000,1901.000000,3134.000000,1056.000000,3.343800,85700.000000

`describe` se asemeja más a un `printSchema

In [44]:
df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

Si queremos un comportamiento similar a la de `pandas`, tenemos que llamar al método `show` o identificar la columna en concreto. Por ejemplo, descripcion estadistica de una sola columna ('median_house_value'). 

**Pregunta**: qué está haciendo

In [45]:
df_spark.describe()

DataFrame[summary: string, longitude: string, latitude: string, housing_median_age: string, total_rooms: string, total_bedrooms: string, population: string, households: string, median_income: string, median_house_value: string]

In [46]:
df_spark.describe().show()

23/09/25 10:49:25 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

In [47]:
df_spark.describe(['median_house_value']).show()

+-------+------------------+
|summary|median_house_value|
+-------+------------------+
|  count|             17000|
|   mean|207300.91235294117|
| stddev|115983.76438720895|
|    min|           14999.0|
|    max|          500001.0|
+-------+------------------+

# Operaciones básicas

## Devolver los datos del dataframe

Para devolver todos los datos de un pyspark dataframe, se usa la función `collect`:

In [48]:
df_spark.collect()

[Row(longitude=-114.31, latitude=34.19, housing_median_age=15.0, total_rooms=5612.0, total_bedrooms=1283.0, population=1015.0, households=472.0, median_income=1.4936, median_house_value=66900.0),
 Row(longitude=-114.47, latitude=34.4, housing_median_age=19.0, total_rooms=7650.0, total_bedrooms=1901.0, population=1129.0, households=463.0, median_income=1.82, median_house_value=80100.0),
 Row(longitude=-114.56, latitude=33.69, housing_median_age=17.0, total_rooms=720.0, total_bedrooms=174.0, population=333.0, households=117.0, median_income=1.6509, median_house_value=85700.0),
 Row(longitude=-114.57, latitude=33.64, housing_median_age=14.0, total_rooms=1501.0, total_bedrooms=337.0, population=515.0, households=226.0, median_income=3.1917, median_house_value=73400.0),
 Row(longitude=-114.57, latitude=33.57, housing_median_age=20.0, total_rooms=1454.0, total_bedrooms=326.0, population=624.0, households=262.0, median_income=1.925, median_house_value=65500.0),
 Row(longitude=-114.58, latitude=33.63, housing_median_age=29.0, total_rooms=1387.0, total_bedrooms=236.0, population=671.0, households=239.0, median_income=3.3438, median_house_value=74000.0),
 Row(longitude=-114.58, latitude=33.61, housing_median_age=25.0, total_rooms=2907.0, total_bedrooms=680.0, population=1841.0, households=633.0, median_income=2.6768, median_house_value=82400.0),
 Row(longitude=-114.59, latitude=34.83, housing_median_age=41.0, total_rooms=812.0, total_bedrooms=168.0, population=375.0, households=158.0, median_income=1.7083, median_house_value=48500.0),
 Row(longitude=-114.59, latitude=33.61, housing_median_age=34.0, total_rooms=4789.0, total_bedrooms=1175.0, population=3134.0, households=1056.0, median_income=2.1782, median_house_value=58400.0),
 Row(longitude=-114.6, latitude=34.83, housing_median_age=46.0, total_rooms=1497.0, total_bedrooms=309.0, population=787.0, households=271.0, median_income=2.1908, median_house_value=48100.0),
 Row(longitude=-114.6, latitude=33.62, housing_median_age=16.0, total_rooms=3741.0, total_bedrooms=801.0, population=2434.0, households=824.0, median_income=2.6797, median_house_value=86500.0),
 Row(longitude=-114.6, latitude=33.6, housing_median_age=21.0, total_rooms=1988.0, total_bedrooms=483.0, population=1182.0, households=437.0, median_income=1.625, median_house_value=62000.0),
 Row(longitude=-114.61, latitude=34.84, housing_median_age=48.0, total_rooms=1291.0, total_bedrooms=248.0, population=580.0, households=211.0, median_income=2.1571, median_house_value=48600.0),
 Row(longitude=-114.61, latitude=34.83, housing_median_age=31.0, total_rooms=2478.0, total_bedrooms=464.0, population=1346.0, households=479.0, median_income=3.212, median_house_value=70400.0),
 Row(longitude=-114.63, latitude=32.76, housing_median_age=15.0, total_rooms=1448.0, total_bedrooms=378.0, population=949.0, households=300.0, median_income=0.8585, median_house_value=45000.0),
 Row(longitude=-114.65, latitude=34.89, housing_median_age=17.0, total_rooms=2556.0, total_bedrooms=587.0, population=1005.0, households=401.0, median_income=1.6991, median_house_value=69100.0),
 Row(longitude=-114.65, latitude=33.6, housing_median_age=28.0, total_rooms=1678.0, total_bedrooms=322.0, population=666.0, households=256.0, median_income=2.9653, median_house_value=94900.0),
 Row(longitude=-114.65, latitude=32.79, housing_median_age=21.0, total_rooms=44.0, total_bedrooms=33.0, population=64.0, households=27.0, median_income=0.8571, median_house_value=25000.0),
 Row(longitude=-114.66, latitude=32.74, housing_median_age=17.0, total_rooms=1388.0, total_bedrooms=386.0, population=775.0, households=320.0, median_income=1.2049, median_house_value=44000.0),
 Row(longitude=-114.67, latitude=33.92, housing_median_age=17.0, total_rooms=97.0, total_bedrooms=24.0, population=29.0, households=15.0, median_income=1.2656, median_house_value=27500.0),
 Row(longitude=-114.68, latitude=33.49, housing_median_age=20.0, total_rooms=1491.0, total_bedrooms=360.0, population=1135.0, households=303.0, median_income=1.6395, median_house_value=44400.0),
 Row(longitude=-114.73, latitude=33.43, housing_median_age=24.0, total_rooms=796.0, total_bedrooms=243.0, population=227.0, households=139.0, median_income=0.8964, median_house_value=59200.0),
 Row(longitude=-114.94, latitude=34.55, housing_median_age=20.0, total_rooms=350.0, total_bedrooms=95.0, population=119.0, households=58.0, median_income=1.625, median_house_value=50000.0),
 Row(longitude=-114.98, latitude=33.82, housing_median_age=15.0, total_rooms=644.0, total_bedrooms=129.0, population=137.0, households=52.0, median_income=3.2097, median_house_value=71300.0),
 Row(longitude=-115.22, latitude=33.54, housing_median_age=18.0, total_rooms=1706.0, total_bedrooms=397.0, population=3424.0, households=283.0, median_income=1.625, median_house_value=53500.0),
 Row(longitude=-115.32, latitude=32.82, housing_median_age=34.0, total_rooms=591.0, total_bedrooms=139.0, population=327.0, households=89.0, median_income=3.6528, median_house_value=100000.0),
 Row(longitude=-115.37, latitude=32.82, housing_median_age=30.0, total_rooms=1602.0, total_bedrooms=322.0, population=1130.0, households=335.0, median_income=3.5735, median_house_value=71100.0),
 Row(longitude=-115.37, latitude=32.82, housing_median_age=14.0, total_rooms=1276.0, total_bedrooms=270.0, population=867.0, households=261.0, median_income=1.9375, median_house_value=80900.0),
 Row(longitude=-115.37, latitude=32.81, housing_median_age=32.0, total_rooms=741.0, total_bedrooms=191.0, population=623.0, households=169.0, median_income=1.7604, median_house_value=68600.0),
 Row(longitude=-115.37, latitude=32.81, housing_median_age=23.0, total_rooms=1458.0, total_bedrooms=294.0, population=866.0, households=275.0, median_income=2.3594, median_house_value=74300.0),
 Row(longitude=-115.38, latitude=32.82, housing_median_age=38.0, total_rooms=1892.0, total_bedrooms=394.0, population=1175.0, households=374.0, median_income=1.9939, median_house_value=65800.0),
 Row(longitude=-115.38, latitude=32.81, housing_median_age=35.0, total_rooms=1263.0, total_bedrooms=262.0, population=950.0, households=241.0, median_income=1.8958, median_house_value=67500.0),
 Row(longitude=-115.39, latitude=32.76, housing_median_age=16.0, total_rooms=1136.0, total_bedrooms=196.0, population=481.0, households=185.0, median_income=6.2558, median_house_value=146300.0),
 Row(longitude=-115.4, latitude=32.86, housing_median_age=19.0, total_rooms=1087.0, total_bedrooms=171.0, population=649.0, households=173.0, median_income=3.3182, median_house_value=113800.0),
 Row(longitude=-115.4, latitude=32.7, housing_median_age=19.0, total_rooms=583.0, total_bedrooms=113.0, population=531.0, households=134.0, median_income=1.6838, median_house_value=95800.0),
 Row(longitude=-115.41, latitude=32.99, housing_median_age=29.0, total_rooms=1141.0, total_bedrooms=220.0, population=684.0, households=194.0, median_income=3.4038, median_house_value=107800.0),
 Row(longitude=-115.46, latitude=33.19, housing_median_age=33.0, total_rooms=1234.0, total_bedrooms=373.0, population=777.0, households=298.0, median_income=1.0, median_house_value=40000.0),
 Row(longitude=-115.48, latitude=32.8, housing_median_age=21.0, total_rooms=1260.0, total_bedrooms=246.0, population=805.0, households=239.0, median_income=2.6172, median_house_value=88500.0),
 Row(longitude=-115.48, latitude=32.68, housing_median_age=15.0, total_rooms=3414.0, total_bedrooms=666.0, population=2097.0, households=622.0, median_income=2.3319, median_house_value=91200.0),
 Row(longitude=-115.49, latitude=32.87, housing_median_age=19.0, total_rooms=541.0, total_bedrooms=104.0, population=457.0, households=106.0, median_income=3.3583, median_house_value=102800.0),
 Row(longitude=-115.49, latitude=32.69, housing_median_age=17.0, total_rooms=1960.0, total_bedrooms=389.0, population=1691.0, households=356.0, median_income=1.899, median_house_value=64000.0),
 Row(longitude=-115.49, latitude=32.67, housing_median_age=29.0, total_rooms=1523.0, total_bedrooms=440.0, population=1302.0, households=393.0, median_income=1.1311, median_house_value=84700.0),
 Row(longitude=-115.49, latitude=32.67, housing_median_age=25.0, total_rooms=2322.0, total_bedrooms=573.0, population=2185.0, households=602.0, median_income=1.375, median_house_value=70100.0),
 Row(longitude=-115.5, latitude=32.75, housing_median_age=13.0, total_rooms=330.0, total_bedrooms=72.0, population=822.0, households=64.0, median_income=3.4107, median_house_value=142500.0),
 Row(longitude=-115.5, latitude=32.68, housing_median_age=18.0, total_rooms=3631.0, total_bedrooms=913.0, population=3565.0, households=924.0, median_income=1.5931, median_house_value=88400.0),
 Row(longitude=-115.5, latitude=32.67, housing_median_age=35.0, total_rooms=2159.0, total_bedrooms=492.0, population=1694.0, households=475.0, median_income=2.1776, median_house_value=75500.0),
 Row(longitude=-115.51, latitude=33.24, housing_median_age=32.0, total_rooms=1995.0, total_bedrooms=523.0, population=1069.0, households=410.0, median_income=1.6552, median_house_value=43300.0),
 Row(longitude=-115.51, latitude=33.12, housing_median_age=21.0, total_rooms=1024.0, total_bedrooms=218.0, population=890.0, households=232.0, median_income=2.101, median_house_value=46700.0),
 Row(longitude=-115.51, latitude=32.99, housing_median_age=20.0, total_rooms=1402.0, total_bedrooms=287.0, population=1104.0, households=317.0, median_income=1.9088, median_house_value=63700.0),
 Row(longitude=-115.51, latitude=32.68, housing_median_age=11.0, total_rooms=2872.0, total_bedrooms=610.0, population=2644.0, households=581.0, median_income=2.625, median_house_value=72700.0),
 Row(longitude=-115.52, latitude=34.22, housing_median_age=30.0, total_rooms=540.0, total_bedrooms=136.0, population=122.0, households=63.0, median_income=1.3333, median_house_value=42500.0),
 Row(longitude=-115.52, latitude=33.13, housing_median_age=18.0, total_rooms=1109.0, total_bedrooms=283.0, population=1006.0, households=253.0, median_income=2.163, median_house_value=53400.0),
 Row(longitude=-115.52, latitude=33.12, housing_median_age=38.0, total_rooms=1327.0, total_bedrooms=262.0, population=784.0, households=231.0, median_income=1.8793, median_house_value=60800.0),
 Row(longitude=-115.52, latitude=32.98, housing_median_age=32.0, total_rooms=1615.0, total_bedrooms=382.0, population=1307.0, households=345.0, median_income=1.4583, median_house_value=58600.0),
 Row(longitude=-115.52, latitude=32.97, housing_median_age=24.0, total_rooms=1617.0, total_bedrooms=366.0, population=1416.0, households=401.0, median_income=1.975, median_house_value=66400.0),
 Row(longitude=-115.52, latitude=32.97, housing_median_age=10.0, total_rooms=1879.0, total_bedrooms=387.0, population=1376.0, households=337.0, median_income=1.9911, median_house_value=67500.0),
 Row(longitude=-115.52, latitude=32.77, housing_median_age=18.0, total_rooms=1715.0, total_bedrooms=337.0, population=1166.0, households=333.0, median_income=2.2417, median_house_value=79200.0),
 Row(longitude=-115.52, latitude=32.73, housing_median_age=17.0, total_rooms=1190.0, total_bedrooms=275.0, population=1113.0, households=258.0, median_income=2.3571, median_house_value=63100.0),
 Row(longitude=-115.52, latitude=32.67, housing_median_age=6.0, total_rooms=2804.0, total_bedrooms=581.0, population=2807.0, households=594.0, median_income=2.0625, median_house_value=67700.0),
 Row(longitude=-115.53, latitude=34.91, housing_median_age=12.0, total_rooms=807.0, total_bedrooms=199.0, population=246.0, households=102.0, median_income=2.5391, median_house_value=40000.0),
 Row(longitude=-115.53, latitude=32.99, housing_median_age=25.0, total_rooms=2578.0, total_bedrooms=634.0, population=2082.0, households=565.0, median_income=1.7159, median_house_value=62200.0),
 Row(longitude=-115.53, latitude=32.97, housing_median_age=35.0, total_rooms=1583.0, total_bedrooms=340.0, population=933.0, households=318.0, median_income=2.4063, median_house_value=70700.0),
 Row(longitude=-115.53, latitude=32.97, housing_median_age=34.0, total_rooms=2231.0, total_bedrooms=545.0, population=1568.0, households=510.0, median_income=1.5217, median_house_value=60300.0),
 Row(longitude=-115.53, latitude=32.73, housing_median_age=14.0, total_rooms=1527.0, total_bedrooms=325.0, population=1453.0, households=332.0, median_income=1.735, median_house_value=61200.0),
 Row(longitude=-115.54, latitude=32.99, housing_median_age=23.0, total_rooms=1459.0, total_bedrooms=373.0, population=1148.0, households=388.0, median_income=1.5372, median_house_value=69400.0),
 Row(longitude=-115.54, latitude=32.99, housing_median_age=17.0, total_rooms=1697.0, total_bedrooms=268.0, population=911.0, households=254.0, median_income=4.3523, median_house_value=96000.0),
 Row(longitude=-115.54, latitude=32.98, housing_median_age=27.0, total_rooms=1513.0, total_bedrooms=395.0, population=1121.0, households=381.0, median_income=1.9464, median_house_value=60600.0),
 Row(longitude=-115.54, latitude=32.97, housing_median_age=41.0, total_rooms=2429.0, total_bedrooms=454.0, population=1188.0, households=430.0, median_income=3.0091, median_house_value=70800.0),
 Row(longitude=-115.54, latitude=32.79, housing_median_age=23.0, total_rooms=1712.0, total_bedrooms=403.0, population=1370.0, households=377.0, median_income=1.275, median_house_value=60400.0),
 Row(longitude=-115.55, latitude=32.98, housing_median_age=33.0, total_rooms=2266.0, total_bedrooms=365.0, population=952.0, households=360.0, median_income=5.4349, median_house_value=143000.0),
 Row(longitude=-115.55, latitude=32.98, housing_median_age=24.0, total_rooms=2565.0, total_bedrooms=530.0, population=1447.0, households=473.0, median_income=3.2593, median_house_value=80800.0),
 Row(longitude=-115.55, latitude=32.82, housing_median_age=34.0, total_rooms=1540.0, total_bedrooms=316.0, population=1013.0, households=274.0, median_income=2.5664, median_house_value=67500.0),
 Row(longitude=-115.55, latitude=32.8, housing_median_age=23.0, total_rooms=666.0, total_bedrooms=142.0, population=580.0, households=160.0, median_income=2.1136, median_house_value=61000.0),
 Row(longitude=-115.55, latitude=32.79, housing_median_age=23.0, total_rooms=1004.0, total_bedrooms=221.0, population=697.0, households=201.0, median_income=1.6351, median_house_value=59600.0),
 Row(longitude=-115.55, latitude=32.79, housing_median_age=22.0, total_rooms=565.0, total_bedrooms=162.0, population=692.0, households=141.0, median_income=1.2083, median_house_value=53600.0),
 Row(longitude=-115.55, latitude=32.78, housing_median_age=5.0, total_rooms=2652.0, total_bedrooms=606.0, population=1767.0, households=536.0, median_income=2.8025, median_house_value=84300.0),
 Row(longitude=-115.56, latitude=32.96, housing_median_age=21.0, total_rooms=2164.0, total_bedrooms=480.0, population=1164.0, households=421.0, median_income=3.8177, median_house_value=107200.0),
 Row(longitude=-115.56, latitude=32.8, housing_median_age=28.0, total_rooms=1672.0, total_bedrooms=416.0, population=1335.0, households=397.0, median_income=1.5987, median_house_value=59400.0),
 Row(longitude=-115.56, latitude=32.8, housing_median_age=25.0, total_rooms=1311.0, total_bedrooms=375.0, population=1193.0, households=351.0, median_income=2.1979, median_house_value=63900.0),
 Row(longitude=-115.56, latitude=32.8, housing_median_age=15.0, total_rooms=1171.0, total_bedrooms=328.0, population=1024.0, households=298.0, median_income=1.3882, median_house_value=69400.0),
 Row(longitude=-115.56, latitude=32.79, housing_median_age=20.0, total_rooms=2372.0, total_bedrooms=835.0, population=2283.0, households=767.0, median_income=1.1707, median_house_value=62500.0),
 Row(longitude=-115.56, latitude=32.79, housing_median_age=18.0, total_rooms=1178.0, total_bedrooms=438.0, population=1377.0, households=429.0, median_income=1.3373, median_house_value=58300.0),
 Row(longitude=-115.56, latitude=32.78, housing_median_age=46.0, total_rooms=2511.0, total_bedrooms=490.0, population=1583.0, households=469.0, median_income=3.0603, median_house_value=70800.0),
 Row(longitude=-115.56, latitude=32.78, housing_median_age=35.0, total_rooms=1185.0, total_bedrooms=202.0, population=615.0, households=191.0, median_income=4.6154, median_house_value=86200.0),
 Row(longitude=-115.56, latitude=32.78, housing_median_age=29.0, total_rooms=1568.0, total_bedrooms=283.0, population=848.0, households=245.0, median_income=3.1597, median_house_value=76200.0),
 Row(longitude=-115.56, latitude=32.76, housing_median_age=15.0, total_rooms=1278.0, total_bedrooms=217.0, population=653.0, households=185.0, median_income=4.4821, median_house_value=140300.0),
 Row(longitude=-115.57, latitude=32.85, housing_median_age=33.0, total_rooms=1365.0, total_bedrooms=269.0, population=825.0, households=250.0, median_income=3.2396, median_house_value=62300.0),
 Row(longitude=-115.57, latitude=32.85, housing_median_age=17.0, total_rooms=1039.0, total_bedrooms=256.0, population=728.0, households=246.0, median_income=1.7411, median_house_value=63500.0),
 Row(longitude=-115.57, latitude=32.84, housing_median_age=29.0, total_rooms=1207.0, total_bedrooms=301.0, population=804.0, households=288.0, median_income=1.9531, median_house_value=61100.0),
 Row(longitude=-115.57, latitude=32.83, housing_median_age=31.0, total_rooms=1494.0, total_bedrooms=289.0, population=959.0, households=284.0, median_income=3.5282, median_house_value=67500.0),
 Row(longitude=-115.57, latitude=32.8, housing_median_age=16.0, total_rooms=2276.0, total_bedrooms=594.0, population=1184.0, households=513.0, median_income=1.875, median_house_value=93800.0),
 Row(longitude=-115.57, latitude=32.79, housing_median_age=34.0, total_rooms=1152.0, total_bedrooms=208.0, population=621.0, households=208.0, median_income=3.6042, median_house_value=73600.0),
 Row(longitude=-115.57, latitude=32.78, housing_median_age=20.0, total_rooms=1534.0, total_bedrooms=235.0, population=871.0, households=222.0, median_income=6.2715, median_house_value=97200.0),
 Row(longitude=-115.57, latitude=32.78, housing_median_age=15.0, total_rooms=1413.0, total_bedrooms=279.0, population=803.0, households=277.0, median_income=4.3021, median_house_value=87500.0),
 Row(longitude=-115.58, latitude=33.88, housing_median_age=21.0, total_rooms=1161.0, total_bedrooms=282.0, population=724.0, households=186.0, median_income=3.1827, median_house_value=71700.0),
 Row(longitude=-115.58, latitude=32.81, housing_median_age=5.0, total_rooms=805.0, total_bedrooms=143.0, population=458.0, households=143.0, median_income=4.475, median_house_value=96300.0),
 Row(longitude=-115.58, latitude=32.81, housing_median_age=10.0, total_rooms=1088.0, total_bedrooms=203.0, population=533.0, households=201.0, median_income=3.6597, median_house_value=87500.0),
 Row(longitude=-115.58, latitude=32.79, housing_median_age=14.0, total_rooms=1687.0, total_bedrooms=507.0, population=762.0, households=451.0, median_income=1.6635, median_house_value=64400.0),
 Row(longitude=-115.58, latitude=32.78, housing_median_age=5.0, total_rooms=2494.0, total_bedrooms=414.0, population=1416.0, households=421.0, median_income=5.7843, median_house_value=110100.0),
 Row(longitude=-115.59, latitude=32.85, housing_median_age=20.0, total_rooms=1608.0, total_bedrooms=274.0, population=862.0, households=248.0, median_income=4.875, median_house_value=90800.0),
 Row(longitude=-115.59, latitude=32.79, housing_median_age=8.0, total_rooms=2183.0, total_bedrooms=307.0, population=1000.0, households=287.0, median_income=6.3814, median_house_value=159900.0),
 Row(longitude=-115.59, latitude=32.69, housing_median_age=30.0, total_rooms=935.0, total_bedrooms=177.0, population=649.0, households=148.0, median_income=2.5769, median_house_value=94400.0),
 Row(longitude=-115.6, latitude=33.2, housing_median_age=37.0, total_rooms=709.0, total_bedrooms=187.0, population=390.0, households=142.0, median_income=2.4511, median_house_value=72500.0),

### Nota:

Fijaos que devuelve una lista de filas. No es la mejor forma de trabajar con los datos. Para gestionar esta situación, tenemos que usar funciones de **`selección`** y **`filtrado`** de columnas y registros:

# Filtrado de datos

## Selección -- columnas

In [49]:
df_spark.select(['total_rooms','total_bedrooms']).show()

+-----------+--------------+
|total_rooms|total_bedrooms|
+-----------+--------------+
|     5612.0|        1283.0|
|     7650.0|        1901.0|
|      720.0|         174.0|
|     1501.0|         337.0|
|     1454.0|         326.0|
|     1387.0|         236.0|
|     2907.0|         680.0|
|      812.0|         168.0|
|     4789.0|        1175.0|
|     1497.0|         309.0|
|     3741.0|         801.0|
|     1988.0|         483.0|
|     1291.0|         248.0|
|     2478.0|         464.0|
|     1448.0|         378.0|
|     2556.0|         587.0|
|     1678.0|         322.0|
|       44.0|          33.0|
|     1388.0|         386.0|
|       97.0|          24.0|
+-----------+--------------+
only showing top 20 rows

## Filtrado -- filas

In [50]:
filtrado = df_spark.filter(df_spark.total_rooms>1000)

In [51]:
filtrado

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double]

In [52]:
filtrado.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

## Filtrado -- where

In [53]:
filtrado.where(filtrado.total_bedrooms==1283).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -117.78|   33.78|               6.0|     9792.0|        1283.0|    3744.0|    1179.0|      10.1714|          481500.0|
|   -118.3|   34.06|              33.0|     2437.0|        1283.0|    3906.0|    1084.0|       2.0332|          270000.0|
|   -118.4|   34.17|              24.0|     4443.0|        1283.0|    2421.0|    1180.0|       2.2652|          269200.0|
|   -121.4|   38.49|              12.0|     7290.0|        1283.0|    3960.0|    1248.0|       3.5968|          106300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

In [54]:
filtrado_pd = filtrado.toPandas()

In [55]:
filtrado_pd.loc[filtrado_pd.total_bedrooms==1283]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
2701,-117.78,33.78,6.0,9792.0,1283.0,3744.0,1179.0,10.1714,481500.0
6070,-118.30,34.06,33.0,2437.0,1283.0,3906.0,1084.0,2.0332,270000.0
7030,-118.40,34.17,24.0,4443.0,1283.0,2421.0,1180.0,2.2652,269200.0
10672,-121.40,38.49,12.0,7290.0,1283.0,3960.0,1248.0,3.5968,106300.0

## Acceso a filas / columnas

No existe algo parecido a `.iloc` o `.loc``

Tenemos que jugar con `collect`, `show`, `select` y `filter`

Por ejemplo: 

### Seleccionar habitaciones y población cuando las habitaciones sean mayor a ... 100!! Pero devuelve sólo los 10 primeros resultados

In [56]:
df_spark.select('total_bedrooms','population').where(filtrado.total_bedrooms>100)

DataFrame[total_bedrooms: double, population: double]

In [57]:
df_spark.select('total_bedrooms','population').where(filtrado.total_bedrooms>100).collect()[:10]

[Row(total_bedrooms=1283.0, population=1015.0),
 Row(total_bedrooms=1901.0, population=1129.0),
 Row(total_bedrooms=174.0, population=333.0),
 Row(total_bedrooms=337.0, population=515.0),
 Row(total_bedrooms=326.0, population=624.0),
 Row(total_bedrooms=236.0, population=671.0),
 Row(total_bedrooms=680.0, population=1841.0),
 Row(total_bedrooms=168.0, population=375.0),
 Row(total_bedrooms=1175.0, population=3134.0),
 Row(total_bedrooms=309.0, population=787.0)]

In [58]:
df_spark.select('total_bedrooms','population').where(filtrado.total_bedrooms>100).show(10)

+--------------+----------+
|total_bedrooms|population|
+--------------+----------+
|        1283.0|    1015.0|
|        1901.0|    1129.0|
|         174.0|     333.0|
|         337.0|     515.0|
|         326.0|     624.0|
|         236.0|     671.0|
|         680.0|    1841.0|
|         168.0|     375.0|
|        1175.0|    3134.0|
|         309.0|     787.0|
+--------------+----------+
only showing top 10 rows

### Si quisiéramos coger los datos de toda una columna

`select (F.collect_list(nombrecolumna)).first()[0]`

In [59]:
df_spark.select(F.collect_list('total_bedrooms')).first()[0]

[1283.0,
 1901.0,
 174.0,
 337.0,
 326.0,
 236.0,
 680.0,
 168.0,
 1175.0,
 309.0,
 801.0,
 483.0,
 248.0,
 464.0,
 378.0,
 587.0,
 322.0,
 33.0,
 386.0,
 24.0,
 360.0,
 243.0,
 95.0,
 129.0,
 397.0,
 139.0,
 322.0,
 270.0,
 191.0,
 294.0,
 394.0,
 262.0,
 196.0,
 171.0,
 113.0,
 220.0,
 373.0,
 246.0,
 666.0,
 104.0,
 389.0,
 440.0,
 573.0,
 72.0,
 913.0,
 492.0,
 523.0,
 218.0,
 287.0,
 610.0,
 136.0,
 283.0,
 262.0,
 382.0,
 366.0,
 387.0,
 337.0,
 275.0,
 581.0,
 199.0,
 634.0,
 340.0,
 545.0,
 325.0,
 373.0,
 268.0,
 395.0,
 454.0,
 403.0,
 365.0,
 530.0,
 316.0,
 142.0,
 221.0,
 162.0,
 606.0,
 480.0,
 416.0,
 375.0,
 328.0,
 835.0,
 438.0,
 490.0,
 202.0,
 283.0,
 217.0,
 269.0,
 256.0,
 301.0,
 289.0,
 594.0,
 208.0,
 235.0,
 279.0,
 282.0,
 143.0,
 203.0,
 507.0,
 414.0,
 274.0,
 307.0,
 177.0,
 187.0,
 317.0,
 244.0,
 231.0,
 235.0,
 340.0,
 99.0,
 238.0,
 448.0,
 103.0,
 81.0,
 18.0,
 379.0,
 1257.0,
 49.0,
 248.0,
 95.0,
 272.0,
 43.0,
 25.0,
 81.0,
 46.0,
 536.0,
 57.0,
 280.0,
 958.0,
 515.0,
 97.0,
 65.0,
 94.0,
 290.0,
 2331.0,
 89.0,
 1997.0,
 354.0,
 820.0,
 1228.0,
 705.0,
 54.0,
 499.0,
 277.0,
 800.0,
 203.0,
 512.0,
 19.0,
 654.0,
 476.0,
 625.0,
 273.0,
 409.0,
 192.0,
 714.0,
 787.0,
 176.0,
 295.0,
 386.0,
 468.0,
 858.0,
 352.0,
 258.0,
 849.0,
 221.0,
 1326.0,
 1349.0,
 566.0,
 1039.0,
 2224.0,
 187.0,
 91.0,
 444.0,
 1222.0,
 284.0,
 109.0,
 2555.0,
 760.0,
 481.0,
 556.0,
 410.0,
 851.0,
 831.0,
 487.0,
 861.0,
 367.0,
 411.0,
 3923.0,
 2000.0,
 514.0,
 406.0,
 606.0,
 3098.0,
 1859.0,
 1542.0,
 1152.0,
 1238.0,
 348.0,
 3479.0,
 2405.0,
 2460.0,
 1149.0,
 2257.0,
 1618.0,
 2007.0,
 1089.0,
 872.0,
 500.0,
 476.0,
 893.0,
 1260.0,
 2837.0,
 782.0,
 48.0,
 1296.0,
 1343.0,
 438.0,
 361.0,
 1303.0,
 1266.0,
 1110.0,
 249.0,
 1206.0,
 992.0,
 643.0,
 920.0,
 745.0,
 1234.0,
 471.0,
 1512.0,
 2481.0,
 441.0,
 913.0,
 2020.0,
 272.0,
 636.0,
 1875.0,
 868.0,
 1882.0,
 85.0,
 1229.0,
 1074.0,
 713.0,
 2634.0,
 1395.0,
 780.0,
 306.0,
 754.0,
 1444.0,
 859.0,
 2315.0,
 852.0,
 648.0,
 763.0,
 2186.0,
 1839.0,
 463.0,
 1714.0,
 1217.0,
 1387.0,
 1780.0,
 562.0,
 1529.0,
 399.0,
 361.0,
 1743.0,
 67.0,
 166.0,
 1652.0,
 82.0,
 876.0,
 827.0,
 365.0,
 538.0,
 1719.0,
 847.0,
 157.0,
 74.0,
 711.0,
 374.0,
 109.0,
 875.0,
 682.0,
 661.0,
 946.0,
 1070.0,
 845.0,
 481.0,
 849.0,
 10.0,
 268.0,
 702.0,
 751.0,
 525.0,
 1946.0,
 68.0,
 786.0,
 520.0,
 63.0,
 565.0,
 1527.0,
 1985.0,
 495.0,
 855.0,
 219.0,
 532.0,
 792.0,
 1030.0,
 770.0,
 938.0,
 131.0,
 118.0,
 443.0,
 1689.0,
 68.0,
 921.0,
 291.0,
 906.0,
 812.0,
 761.0,
 265.0,
 321.0,
 491.0,
 198.0,
 796.0,
 259.0,
 777.0,
 429.0,
 623.0,
 1583.0,
 541.0,
 471.0,
 916.0,
 621.0,
 1238.0,
 538.0,
 219.0,
 501.0,
 333.0,
 593.0,
 393.0,
 102.0,
 840.0,
 523.0,
 672.0,
 738.0,
 426.0,
 149.0,
 773.0,
 634.0,
 552.0,
 810.0,
 737.0,
 491.0,
 492.0,
 100.0,
 2127.0,
 1164.0,
 597.0,
 628.0,
 838.0,
 703.0,
 898.0,
 424.0,
 637.0,
 287.0,
 511.0,
 624.0,
 89.0,
 269.0,
 834.0,
 284.0,
 494.0,
 468.0,
 268.0,
 752.0,
 307.0,
 1594.0,
 1148.0,
 666.0,
 545.0,
 670.0,
 990.0,
 895.0,
 278.0,
 714.0,
 466.0,
 1258.0,
 699.0,
 1401.0,
 2630.0,
 1410.0,
 445.0,
 851.0,
 381.0,
 441.0,
 253.0,
 317.0,
 285.0,
 729.0,
 2292.0,
 2656.0,
 2479.0,
 974.0,
 2205.0,
 804.0,
 1702.0,
 1096.0,
 573.0,
 431.0,
 405.0,
 810.0,
 178.0,
 639.0,
 353.0,
 245.0,
 2506.0,
 592.0,
 1434.0,
 293.0,
 599.0,
 3093.0,
 443.0,
 448.0,
 421.0,
 857.0,
 272.0,
 467.0,
 289.0,
 497.0,
 691.0,
 757.0,
 755.0,
 973.0,
 495.0,
 740.0,
 496.0,
 1796.0,
 638.0,
 803.0,
 1152.0,
 1094.0,
 266.0,
 693.0,
 1325.0,
 630.0,
 1222.0,
 632.0,
 722.0,
 606.0,
 628.0,
 792.0,
 851.0,
 32.0,
 1018.0,
 338.0,
 1101.0,
 238.0,
 236.0,
 1413.0,
 466.0,
 313.0,
 583.0,
 1344.0,
 2833.0,
 294.0,
 449.0,
 125.0,
 312.0,
 640.0,
 498.0,
 83.0,
 472.0,
 1309.0,
 1062.0,
 1279.0,
 341.0,
 1423.0,
 713.0,
 1029.0,
 662.0,
 447.0,
 662.0,
 369.0,
 147.0,
 537.0,
 143.0,
 158.0,
 444.0,
 577.0,
 1165.0,
 1036.0,
 658.0,
 69.0,
 2007.0,
 1704.0,
 2401.0,
 3474.0,
 410.0,
 866.0,
 949.0,
 1326.0,
 758.0,
 1521.0,
 538.0,
 393.0,
 703.0,
 163.0,
 334.0,
 611.0,
 547.0,
 339.0,
 130.0,
 301.0,
 216.0,
 164.0,
 582.0,
 622.0,
 699.0,
 512.0,
 1292.0,
 1529.0,
 313.0,
 1979.0,
 319.0,
 325.0,
 317.0,
 401.0,
 373.0,
 280.0,
 599.0,
 943.0,
 441.0,
 468.0,
 307.0,
 490.0,
 555.0,
 519.0,
 498.0,
 891.0,
 886.0,
 567.0,
 430.0,
 414.0,
 395.0,
 3280.0,
 645.0,
 618.0,
 545.0,
 479.0,
 210.0,
 663.0,
 815.0,
 597.0,
 192.0,
 723.0,
 608.0,
 824.0,
 340.0,
 706.0,
 722.0,
 530.0,
 734.0,
 692.0,
 490.0,
 398.0,
 348.0,
 1368.0,
 976.0,
 239.0,
 351.0,
 661.0,
 648.0,
 367.0,
 1335.0,
 203.0,
 750.0,
 1579.0,
 352.0,
 334.0,
 673.0,
 317.0,
 301.0,
 599.0,
 243.0,
 370.0,
 384.0,
 708.0,
 507.0,
 488.0,
 326.0,
 537.0,
 772.0,
 963.0,
 865.0,
 369.0,
 592.0,
 516.0,
 675.0,
 184.0,
 103.0,
 41.0,
 335.0,
 583.0,
 407.0,
 577.0,
 664.0,
 11.0,
 209.0,
 886.0,
 446.0,
 698.0,
 289.0,
 775.0,
 383.0,
 513.0,
 1618.0,
 428.0,
 1492.0,
 1655.0,
 150.0,
 454.0,
 606.0,
 391.0,
 333.0,
 176.0,
 455.0,
 444.0,
 627.0,
 572.0,
 397.0,
 532.0,
 163.0,
 818.0,
 142.0,
 476.0,
 313.0,
 148.0,
 366.0,
 735.0,
 795.0,
 1213.0,
 781.0,
 852.0,
 2888.0,
 581.0,
 435.0,
 107.0,
 1418.0,
 196.0,
 1256.0,
 826.0,
 348.0,
 406.0,
 345.0,
 440.0,
 350.0,
 447.0,
 1881.0,
 665.0,
 557.0,
 418.0,
 785.0,
 770.0,
 955.0,
 991.0,
 860.0,
 425.0,
 357.0,
 683.0,
 630.0,
 1401.0,
 542.0,
 422.0,
 356.0,
 282.0,
 1461.0,
 846.0,
 357.0,
 406.0,
 648.0,
 297.0,
 260.0,
 766.0,
 698.0,
 646.0,
 1205.0,
 530.0,
 312.0,
 569.0,
 1166.0,
 390.0,
 2035.0,
 372.0,
 642.0,
 1293.0,
 254.0,
 121.0,
 588.0,
 425.0,
 1436.0,
 661.0,
 1091.0,
 555.0,
 731.0,
 292.0,
 250.0,
 401.0,
 308.0,
 378.0,
 178.0,
 683.0,
 662.0,
 359.0,
 344.0,
 408.0,
 388.0,
 612.0,
 455.0,
 588.0,
 617.0,
 369.0,
 158.0,
 210.0,
 555.0,
 580.0,
 275.0,
 359.0,
 785.0,
 343.0,
 861.0,
 686.0,
 286.0,
 1205.0,
 345.0,
 929.0,
 370.0,
 399.0,
 563.0,
 320.0,
 233.0,
 916.0,
 582.0,
 446.0,
 809.0,
 326.0,
 565.0,
 974.0,
 379.0,
 2114.0,
 1276.0,
 255.0,
 309.0,
 190.0,
 389.0,
 417.0,
 196.0,
 877.0,
 550.0,
 340.0,
 492.0,
 332.0,
 373.0,
 682.0,
 288.0,
 587.0,
 611.0,
 419.0,
 619.0,
 514.0,
 388.0,
 523.0,
 111.0,
 269.0,
 149.0,
 515.0,
 317.0,
 796.0,
 754.0,
 511.0,
 667.0,
 234.0,
 742.0,
 125.0,
 1015.0,
 205.0,
 238.0,
 268.0,
 567.0,
 708.0,
 679.0,
 282.0,
 311.0,
 378.0,
 282.0,
 925.0,
 683.0,
 940.0,
 1047.0,
 960.0,
 297.0,
 522.0,
 429.0,
 165.0,
 1632.0,
 499.0,
 927.0,
 599.0,
 473.0,
 1237.0,
 343.0,
 578.0,
 158.0,
 1231.0,
 665.0,
 977.0,
 381.0,
 1866.0,
 1258.0,
 256.0,
 349.0,
 395.0,
 410.0,
 623.0,
 240.0,
 614.0,
 228.0,
 394.0,
 378.0,
 545.0,
 749.0,
 549.0,
 501.0,
 851.0,
 205.0,
 656.0,
 286.0,
 652.0,
 475.0,
 823.0,
 456.0,
 293.0,
 275.0,
 406.0,
 267.0,
 725.0,
 623.0,
 891.0,
 269.0,
 1025.0,
 774.0,
 322.0,
 444.0,
 379.0,
 1173.0,
 1331.0,
 414.0,
 551.0,
 466.0,
 634.0,
 357.0,
 895.0,
 307.0,
 11.0,
 699.0,
 563.0,
 293.0,
 571.0,
 494.0,
 250.0,
 292.0,
 2628.0,
 268.0,
 208.0,
 444.0,
 324.0,
 585.0,
 624.0,
 501.0,
 347.0,
 284.0,
 142.0,
 623.0,
 450.0,
 931.0,
 3336.0,
 2490.0,
 218.0,
 228.0,
 2352.0,
 856.0,
 552.0,
 496.0,
 155.0,
 849.0,
 254.0,
 785.0,
 596.0,
 508.0,
 328.0,
 516.0,
 673.0,
 622.0,
 643.0,
 218.0,
 763.0,
 598.0,
 418.0,
 390.0,
 284.0,
 487.0,
 615.0,
 1078.0,
 764.0,
 236.0,
 603.0,
 712.0,
 256.0,
 533.0,
 793.0,
 559.0,
 427.0,
 309.0,
 506.0,
 1381.0,
 525.0,
 490.0,
 662.0,
 52.0,
 477.0,
 1512.0,
 327.0,
 1271.0,
 426.0,
 865.0,
 1442.0,
 184.0,
 321.0,
 539.0,
 588.0,
 327.0,
 273.0,
 316.0,
 266.0,
 290.0,
 636.0,
 1185.0,
 367.0,
 152.0,
 345.0,
 266.0,
 534.0,
 393.0,
 374.0,
 596.0,
 214.0,
 711.0,
 624.0,
 387.0,
 577.0,
 546.0,
 391.0,
 376.0,
 503.0,
 779.0,
 686.0,
 246.0,
 240.0,
 523.0,
 945.0,
 582.0,
 205.0,
 430.0,
 653.0,
 449.0,
 737.0,
 332.0,
 549.0,
 147.0,
 206.0,
 985.0,
 323.0,
 536.0,
 862.0,
 973.0,
 651.0,
 161.0,
 770.0,
 428.0,
 364.0,
 309.0,
 430.0,
 567.0,
 323.0,
 83.0,
 368.0,
 1217.0,
 1044.0,
 931.0,
 826.0,
 289.0,
 ...]

In [60]:
df_spark.toPandas()[['total_bedrooms']]

       total_bedrooms
0              1283.0
1              1901.0
2               174.0
3               337.0
4               326.0
...               ...
16995           394.0
16996           528.0
16997           531.0
16998           552.0
16999           300.0

[17000 rows x 1 columns]

# Sorting

En general, podemos ordenadar:

1. Llamando a la columna con método .asc() o .desc(), por ejemplo:

`df.sort(columna.asc())`

2. Llamando a la función de ordenación ascendente o descendente  sobre el nombre de la columna:

`df.sort (F.asc('columna'))`

## Sort

In [61]:
ordenado = filtrado.sort(filtrado.median_income.asc())

In [62]:
ordenado.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -118.25|   34.05|              52.0|     2806.0|        1944.0|    2232.0|    1605.0|       0.6775|          350000.0|
|  -118.23|   33.95|              37.0|     2667.0|         671.0|    2865.0|     683.0|       0.6831|           87500.0|
|  -119.73|   36.72|              26.0|     2645.0|        1005.0|    1660.0|     991.0|       0.6991|           89500.0|
|  -118.18|   33.85|              30.0|     2548.0|         717.0|    2086.0|     700.0|       0.7007|          134400.0|
|  -120.67|    35.3|              19.0|     1540.0|         715.0|    1799.0|     635.0|       0.7025|          500001.0|
|  -117.29|   34.11|              35.0|     2014.0|         677.0|    1714.0|     612.0|       0.7075|           78800.0|
|  -118.29|   34.03|              22.0|     3313.0|        1235.0|    2381.0|    1063.0|       0.7473|          168800.0|
|  -122.19|   37.76|              38.0|     1493.0|         370.0|    1144.0|     351.0|       0.7683|           81800.0|
|  -119.28|   36.33|              10.0|     1051.0|         297.0|     927.0|     274.0|         0.78|           55500.0|
|   -119.8|   36.74|              25.0|     1717.0|         542.0|    1343.0|     471.0|        0.799|           51800.0|
|  -122.29|   37.81|              23.0|     1745.0|         374.0|    1054.0|     325.0|       0.8026|          112500.0|
|   -122.3|   37.81|              48.0|     1455.0|         354.0|     788.0|     332.0|       0.8056|           84400.0|
|  -118.25|   34.05|               8.0|     3105.0|        1256.0|    1086.0|     997.0|       0.8131|          275000.0|
|  -122.28|   37.82|              52.0|     1489.0|         335.0|     728.0|     244.0|       0.8172|           85300.0|
|  -118.24|   34.05|              13.0|     1703.0|         697.0|    1823.0|     669.0|       0.8288|          181300.0|
|  -118.31|   34.03|              29.0|     2438.0|         867.0|    2114.0|     753.0|       0.8351|          150000.0|
|  -118.14|   34.15|              17.0|     1896.0|         674.0|     971.0|     652.0|       0.8438|          175000.0|
|  -122.42|   37.78|              27.0|     1728.0|         884.0|    1211.0|     752.0|       0.8543|          500001.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -118.98|   35.38|              28.0|     1171.0|         299.0|    1193.0|     273.0|       0.8639|           49400.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

## Order by

Lo vamos a complicar un poco: vamos a renombrar median_income y haremos el order by por esa columna renombrada

In [63]:
filtrado.select('longitude','latitude',F.col('median_income').alias('cosito')).orderBy(F.col('cosito').asc()).show()

+---------+--------+------+
|longitude|latitude|cosito|
+---------+--------+------+
|  -118.25|   34.05|0.6775|
|  -118.23|   33.95|0.6831|
|  -119.73|   36.72|0.6991|
|  -118.18|   33.85|0.7007|
|  -120.67|    35.3|0.7025|
|  -117.29|   34.11|0.7075|
|  -118.29|   34.03|0.7473|
|  -122.19|   37.76|0.7683|
|  -119.28|   36.33|  0.78|
|   -119.8|   36.74| 0.799|
|  -122.29|   37.81|0.8026|
|   -122.3|   37.81|0.8056|
|  -118.25|   34.05|0.8131|
|  -122.28|   37.82|0.8172|
|  -118.24|   34.05|0.8288|
|  -118.31|   34.03|0.8351|
|  -118.14|   34.15|0.8438|
|  -122.42|   37.78|0.8543|
|  -114.63|   32.76|0.8585|
|  -118.98|   35.38|0.8639|
+---------+--------+------+
only showing top 20 rows

In [64]:
filtrado.select('longitude','latitude',F.col('median_income').alias('cosito')).orderBy(F.asc('cosito')).show()

+---------+--------+------+
|longitude|latitude|cosito|
+---------+--------+------+
|  -118.25|   34.05|0.6775|
|  -118.23|   33.95|0.6831|
|  -119.73|   36.72|0.6991|
|  -118.18|   33.85|0.7007|
|  -120.67|    35.3|0.7025|
|  -117.29|   34.11|0.7075|
|  -118.29|   34.03|0.7473|
|  -122.19|   37.76|0.7683|
|  -119.28|   36.33|  0.78|
|   -119.8|   36.74| 0.799|
|  -122.29|   37.81|0.8026|
|   -122.3|   37.81|0.8056|
|  -118.25|   34.05|0.8131|
|  -122.28|   37.82|0.8172|
|  -118.24|   34.05|0.8288|
|  -118.31|   34.03|0.8351|
|  -118.14|   34.15|0.8438|
|  -122.42|   37.78|0.8543|
|  -114.63|   32.76|0.8585|
|  -118.98|   35.38|0.8639|
+---------+--------+------+
only showing top 20 rows

# Operaciones sobre columnas

Las operaciones sobre columnas se realizan con el método `withColumn (nombre, función))`

Para instanciar las columnas, dependiendo de la función, se puede hacer directamente con el nombre de la columna o, por ejemplo, habiendo importado el módulo `pyspark.sql.functions as F`, haciendo la llamada `F.col(nombre_columna)` 

## Operaciones sobre una columna

In [65]:
fp = filtrado.toPandas()
fp['housing_median_age'] = fp ['housing_median_age'] + 1

In [66]:
filtrado.select('housing_median_age').show(3)

+------------------+
|housing_median_age|
+------------------+
|              15.0|
|              19.0|
|              14.0|
+------------------+
only showing top 3 rows

In [67]:
 filtrado.withColumn('housing_median_age',F.col('housing_median_age')+1).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              16.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              20.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.57|   33.64|              15.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              21.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              30.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              26.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|              35.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              47.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              17.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              22.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              49.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              32.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              16.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              18.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              29.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.66|   32.74|              18.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.68|   33.49|              21.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|
|  -115.22|   33.54|              19.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.37|   32.82|              31.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.82|              15.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [68]:
filtrado.withColumn('housing_median_age',filtrado.housing_median_age-1).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              14.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              18.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.57|   33.64|              13.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              19.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              28.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              24.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   33.61|              33.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              45.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              15.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              20.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              47.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              30.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              14.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              16.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              27.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.66|   32.74|              16.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.68|   33.49|              19.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|
|  -115.22|   33.54|              17.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|
|  -115.37|   32.82|              29.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|
|  -115.37|   32.82|              13.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

## Operaciones con CASE - WHEN

Podemos hacer un `case when` como en `SQL`. Para ello usamos la función `F.when().otherwise()`

`F.Lit` permite establecer valores literales en una columna. Ojo, cuando se pase como parámetro un valor a una función `udf` que no sea columna, es necesario utilizarlo. 

Más adelante tenéis un ejercicio que entregar para que defináis una `udf`

In [69]:
filtrado.withColumn('catgoria_edad',F.when(
    (filtrado.median_income.isNotNull() & filtrado.housing_median_age.isNotNull()), 'GUAY'
).otherwise(F.lit('N/A'))).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|catgoria_edad|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|         GUAY|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|         GUAY|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|         GUAY|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|         GUAY|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|         GUAY|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|         GUAY|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|         GUAY|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|         GUAY|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|         GUAY|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|         GUAY|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|         GUAY|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|         GUAY|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|         GUAY|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|         GUAY|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|         GUAY|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|         GUAY|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|         GUAY|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|         GUAY|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|         GUAY|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|         GUAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------+
only showing top 20 rows

In [114]:
añadido = filtrado.withColumn('catgoria_cliente',F.when(
    (filtrado.median_income>3), 'TARGET'
).when((filtrado.median_income>1) & (filtrado.median_income<3),'CUASITARGET').otherwise(F.lit('IGNORE')))

añadido.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|fecha_actual|fecha_cierre|catgoria_cliente|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|  2023-09-25|  2023-12-25|          TARGET|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|  2023-09-25|  2023-12-25|          TARGET|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|  2023-09-25|  2023-12-25|          TARGET|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|  2023-09-25|  2023-12-25|          IGNORE|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|  2023-09-25|  2023-12-25|     CUASITARGET|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|  2023-09-25|  2023-12-25|          TARGET|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|  2023-09-25|  2023-12-25|     CUASITARGET|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------------+
only showing top 20 rows

SELECT CASE WHEN MEDIAN_INCOME>3 THEN 'TARGET' 
            WHEN (MEDIAN_INCOME > 1 AND MEDIAN_INCOME<3) THEN 'CUASI' ELSE 'IGNORE' END AS 'COLUMNA'

### Renombrado de columnas

En el apartado de `sorting`,  ya hemos visto un par de ejemplos.

Vamos a refrescarlo!

1. `withColumnRenamed`

In [115]:
añadido = añadido.withColumnRenamed('catgoria_cliente','categoria_xelenial')
añadido.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|fecha_actual|fecha_cierre|categoria_xelenial|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|  2023-09-25|  2023-12-25|            TARGET|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|  2023-09-25|  2023-12-25|            TARGET|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|  2023-09-25|  2023-12-25|            TARGET|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|  2023-09-25|  2023-12-25|            IGNORE|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|  2023-09-25|  2023-12-25|       CUASITARGET|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|  2023-09-25|  2023-12-25|            TARGET|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|  2023-09-25|  2023-12-25|       CUASITARGET|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+------------------+
only showing top 20 rows

2. Utilizando `alias` sobre una columna determinada, por ejemplo:

In [72]:
df_spark.select(F.col('housing_median_age').alias('edad casa')).limit(1).show()

+---------+
|edad casa|
+---------+
|     15.0|
+---------+

## Operaciones sobre una columna, utilizando más de una columna

In [105]:
## Vamos a añadir una nueva columna que sea el porcentaje de households por población

añadido.withColumn('household_per_pop', F.col('households')/F.col('population')).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|  household_per_pop|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|0.46502463054187193|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|0.41009743135518156|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0| 0.4388349514563107|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0| 0.4198717948717949|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0| 0.3561847988077496|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0| 0.3438348723519826|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0| 0.3369495851946394|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0| 0.3443456162642948|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|0.33853738701725555|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0| 0.3697123519458545|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|0.36379310344827587|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0| 0.3558692421991085|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|0.31612223393045313|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0| 0.3990049751243781|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0| 0.3843843843843844|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0| 0.4129032258064516|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0| 0.2669603524229075|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|0.08265186915887851|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|0.29646017699115046|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|0.30103806228373703|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+-------------------+
only showing top 20 rows

# Otras operaciones interesantes

## Eliminar duplicados

In [82]:
eliminetor = añadido.drop_duplicates(['longitude'])

In [83]:
eliminetor.where(eliminetor.longitude == -114.31).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+

## Funciones sobre fechas

In [84]:
filtrado = filtrado.withColumn('fecha_actual',F.current_date())
filtrado.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|fecha_actual|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|  2023-09-25|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|  2023-09-25|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|  2023-09-25|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|  2023-09-25|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|  2023-09-25|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|  2023-09-25|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|  2023-09-25|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|  2023-09-25|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|  2023-09-25|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|  2023-09-25|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|  2023-09-25|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|  2023-09-25|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|  2023-09-25|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|  2023-09-25|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|  2023-09-25|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|  2023-09-25|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|  2023-09-25|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|  2023-09-25|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|  2023-09-25|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|  2023-09-25|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+
only showing top 20 rows

In [85]:
filtrado = filtrado.withColumn('fecha_cierre',F.add_months(F.col('fecha_actual'),3))
filtrado.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|fecha_actual|fecha_cierre|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|  2023-09-25|  2023-12-25|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|  2023-09-25|  2023-12-25|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|  2023-09-25|  2023-12-25|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|  2023-09-25|  2023-12-25|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|  2023-09-25|  2023-12-25|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|  2023-09-25|  2023-12-25|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|  2023-09-25|  2023-12-25|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|  2023-09-25|  2023-12-25|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|  2023-09-25|  2023-12-25|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|  2023-09-25|  2023-12-25|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|  2023-09-25|  2023-12-25|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|  2023-09-25|  2023-12-25|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|  2023-09-25|  2023-12-25|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|  2023-09-25|  2023-12-25|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|  2023-09-25|  2023-12-25|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|  2023-09-25|  2023-12-25|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|  2023-09-25|  2023-12-25|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|  2023-09-25|  2023-12-25|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|  2023-09-25|  2023-12-25|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|  2023-09-25|  2023-12-25|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+
only showing top 20 rows

In [86]:
filtrado.withColumn('diferencia',F.datediff(filtrado.fecha_actual,filtrado.fecha_cierre)).show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|fecha_actual|fecha_cierre|diferencia|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|  2023-09-25|  2023-12-25|       -91|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|  2023-09-25|  2023-12-25|       -91|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|  2023-09-25|  2023-12-25|       -91|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|  2023-09-25|  2023-12-25|       -91|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|  2023-09-25|  2023-12-25|       -91|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|  2023-09-25|  2023-12-25|       -91|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|  2023-09-25|  2023-12-25|       -91|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|  2023-09-25|  2023-12-25|       -91|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|  2023-09-25|  2023-12-25|       -91|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|  2023-09-25|  2023-12-25|       -91|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|  2023-09-25|  2023-12-25|       -91|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|  2023-09-25|  2023-12-25|       -91|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|  2023-09-25|  2023-12-25|       -91|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|  2023-09-25|  2023-12-25|       -91|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|  2023-09-25|  2023-12-25|       -91|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|  2023-09-25|  2023-12-25|       -91|
|  -114.68|   33.49|              20.0|     1491.0|         360.0|    1135.0|     303.0|       1.6395|           44400.0|  2023-09-25|  2023-12-25|       -91|
|  -115.22|   33.54|              18.0|     1706.0|         397.0|    3424.0|     283.0|        1.625|           53500.0|  2023-09-25|  2023-12-25|       -91|
|  -115.37|   32.82|              30.0|     1602.0|         322.0|    1130.0|     335.0|       3.5735|           71100.0|  2023-09-25|  2023-12-25|       -91|
|  -115.37|   32.82|              14.0|     1276.0|         270.0|     867.0|     261.0|       1.9375|           80900.0|  2023-09-25|  2023-12-25|       -91|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------+------------+----------+
only showing top 20 rows

# Operaciones avanzadas

## Join

In [98]:
jugadores = spark.read.csv('player.csv',inferSchema=True, header=True, sep=';')
atributos = spark.read.csv('player_attributes.csv',inferSchema=True, header=True, sep=';')

In [99]:
jugadores.show()

+---+-------------+--------------------+------------------+-------------------+------+------+
| id|player_api_id|         player_name|player_fifa_api_id|           birthday|height|weight|
+---+-------------+--------------------+------------------+-------------------+------+------+
|  1|       505942|  Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|  2|       155782|     Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|  3|       162549|         Aaron Doran|            186170|1991-05-13 00:00:00|170.18|   163|
|  4|        30572|       Aaron Galindo|            140161|1982-05-08 00:00:00|182.88|   198|
|  5|        23780|        Aaron Hughes|             17725|1979-11-08 00:00:00|182.88|   154|
|  6|        27316|          Aaron Hunt|            158138|1986-09-04 00:00:00|182.88|   161|
|  7|       564793|          Aaron Kuhl|            221280|1996-01-30 00:00:00|172.72|   146|
|  8|        30895|        Aaron Lennon|            152747|1987-04-16 00:00:00| 165.1|   139|
|  9|       528212|        Aaron Lennox|            206592|1993-02-19 00:00:00| 190.5|   181|
| 10|       101042|       Aaron Meijers|            188621|1987-10-28 00:00:00|175.26|   170|
| 11|        23889|       Aaron Mokoena|             47189|1980-11-25 00:00:00|182.88|   181|
| 12|       231592|          Aaron Mooy|            194958|1990-09-15 00:00:00|175.26|   150|
| 13|       163222|      Aaron Muirhead|            213568|1990-08-30 00:00:00|187.96|   168|
| 14|        40719|        Aaron Niguez|            183853|1989-04-26 00:00:00|170.18|   143|
| 15|        75489|        Aaron Ramsey|            186561|1990-12-26 00:00:00| 177.8|   154|
| 16|       597948|       Aaron Splaine|            226014|1996-10-13 00:00:00|172.72|   163|
| 17|       161644|Aaron Taylor-Sinc...|            213569|1991-04-08 00:00:00|182.88|   176|
| 18|        23499|     Aaron Wilbraham|              2335|1979-10-21 00:00:00| 190.5|   159|
| 19|       120919|   Aatif Chahechouhe|            187939|1986-07-02 00:00:00|175.26|   150|
| 20|        46447|           Abasse Ba|            156626|1976-07-12 00:00:00|187.96|   185|
+---+-------------+--------------------+------------------+-------------------+------+------+
only showing top 20 rows

In [100]:
atributos.show()

+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
| id|player_fifa_api_id|player_api_id|               date|overall_rating|potential|preferred_foot|attacking_work_rate|defensive_work_rate|crossing|finishing|heading_accuracy|short_passing|volleys|dribbling|curve|free_kick_accuracy|long_passing|ball_control|acceleration|sprint_speed|agility|reactions|balance|shot_power|jumping|stamina|strength|long_shots|aggression|interceptions|positioning|vision|penalties|marking|standing_tackle|sliding_tackle|gk_diving|gk_handling|gk_kicking|gk_positioning|gk_reflexes|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
|  1|            218353|       505942|2016-02-18 00:00:00|            67|       71|         right|             medium|             medium|      49|       44|              71|           61|     44|       51|   45|                39|          64|          49|          60|          64|     59|       47|     65|        55|     58|     54|      76|        35|        71|           70|         45|    54|       48|     65|             69|            69|        6|         11|        10|             8|          8|
|  2|            218353|       505942|2015-11-19 00:00:00|            67|       71|         right|             medium|             medium|      49|       44|              71|           61|     44|       51|   45|                39|          64|          49|          60|          64|     59|       47|     65|        55|     58|     54|      76|        35|        71|           70|         45|    54|       48|     65|             69|            69|        6|         11|        10|             8|          8|
|  3|            218353|       505942|2015-09-21 00:00:00|            62|       66|         right|             medium|             medium|      49|       44|              71|           61|     44|       51|   45|                39|          64|          49|          60|          64|     59|       47|     65|        55|     58|     54|      76|        35|        63|           41|         45|    54|       48|     65|             66|            69|        6|         11|        10|             8|          8|
|  4|            218353|       505942|2015-03-20 00:00:00|            61|       65|         right|             medium|             medium|      48|       43|              70|           60|     43|       50|   44|                38|          63|          48|          60|          64|     59|       46|     65|        54|     58|     54|      76|        34|        62|           40|         44|    53|       47|     62|             63|            66|        5|         10|         9|             7|          7|
|  5|            218353|       505942|2007-02-22 00:00:00|            61|       65|         right|             medium|             medium|      48|       43|              70|           60|     43|       50|   44|                38|          63|          48|          60|          64|     59|       46|     65|        54|     58|     54|      76|        34|        62|           40|         44|    53|       47|     62|             63|            66|        5|         10|         9|             7|          7|
|  6|            189615|       155782|2016-04-21 00:00:00|            74|       76|          left|               high|             medium|      80|       53|              58|           71|     40|       73|   70|                69|          68|          71|          79|          78|     78|       67|     90|        71|     85|     79|      56|        62|        68|           67|         60|    66|       59|     76|             75|            78|       14|          7|         9|             9|         12|
|  7|            189615|       155782|2016-04-07 00:00:00|            74|       76|          left|               high|             medium|      80|       53|              58|           71|     32|       73|   70|                69|          68|          71|          79|          78|     78|       67|     90|        71|     85|     79|      56|        60|        68|           67|         60|    66|       59|     76|             75|            78|       14|          7|         9|             9|         12|
|  8|            189615|       155782|2016-01-07 00:00:00|            73|       75|          left|               high|             medium|      79|       52|              57|           70|     29|       71|   68|                69|          68|          70|          79|          78|     78|       67|     90|        71|     84|     79|      56|        59|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
|  9|            189615|       155782|2015-12-24 00:00:00|            73|       75|          left|               high|             medium|      79|       51|              57|           70|     29|       71|   68|                69|          68|          70|          79|          78|     78|       67|     90|        71|     84|     79|      56|        58|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
| 10|            189615|       155782|2015-12-17 00:00:00|            73|       75|          left|               high|             medium|      79|       51|              57|           70|     29|       71|   68|                69|          68|          70|          79|          78|     78|       67|     90|        71|     84|     79|      56|        58|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
| 11|            189615|       155782|2015-10-16 00:00:00|            73|       77|          left|               high|             medium|      79|       51|              57|           70|     29|       71|   68|                69|          68|          70|          79|          78|     78|       67|     90|        71|     84|     79|      56|        58|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
| 12|            189615|       155782|2015-09-25 00:00:00|            74|       78|          left|               high|             medium|      79|       51|              57|           70|     29|       71|   68|                69|          68|          70|          80|          78|     78|       67|     90|        71|     84|     79|      56|        58|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
| 13|            189615|       155782|2015-09-21 00:00:00|            73|       77|          left|             medium|             medium|      79|       51|              57|           70|     29|       67|   68|                69|          68|          68|          79|          78|     78|       67|     90|        71|     84|     79|      56|        58|        67|           66|         58|    65|       59|     76|             75|            78|       14|          7|         9|             9|         12|
| 14|            189615|       155782|2015-01-09 00:00:00|            71|       75|          left|             medium|             medium|      78|       50|              56|           69|     28|       66|   67|                68|          67|          67|          79|          82|     79|       71|     90|        70|     84|     79|      50|        56|        66|           65|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 15|            189615|       155782|2014-12-05 00:00:00|            71|       77|          left|             medium|             medium|      78|       50|              56|           69|     28|       66|   67|                68|          67|          67|          79|          82|     79|       71|     90|        70|     84|     79|      50|        56|        66|           65|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 16|            189615|       155782|2014-11-07 00:00:00|            71|       77|          left|             medium|             medium|      78|       50|              56|           69|     28|       66|   67|                68|          67|          67|          79|          82|     79|       71|     90|        70|     84|     79|      50|        56|        66|           65|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 17|            189615|       155782|2014-09-18 00:00:00|            70|       77|          left|             medium|             medium|      77|       50|              51|           67|     28|       66|   67|                68|          67|          66|          79|          82|     79|       69|     90|        70|     84|     79|      50|        56|        66|           62|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 18|            189615|       155782|2014-05-02 00:00:00|            70|       79|          left|             medium|             medium|      77|       50|              51|           67|     28|       66|   67|                68|          67|          66|          84|          82|     81|       69|     90|        70|     84|     80|      50|        56|        66|           62|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 19|            189615|       155782|2014-04-04 00:00:00|            70|       79|          left|             medium|             medium|      77|       50|              51|           67|     28|       66|   67|                68|          67|          66|          84|          82|     81|       69|     90|        70|     84|     80|      50|        56|        66|           62|         57|    64|       58|     73|             72|            72|       13|          6|         8|             8|         11|
| 20|            189615|       155782|2014-03-14 00:00:00|            70|       79|          left|             medium|             medium|      77|       50|              51|           67|     28|       66|   66|                68|          67|          65|          84|          82|     81|       69|     90|        70|     84|     79|      49|        55|        66|           62|         57|    61|       58|     73|             72|            72|       13|          6|         8|             8|         11|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [101]:
resultado = jugadores.select('player_api_id','height').join(atributos,on='player_api_id',how='left')

In [102]:
resultado.show()

+-------------+------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
|player_api_id|height| id|player_fifa_api_id|               date|overall_rating|potential|preferred_foot|attacking_work_rate|defensive_work_rate|crossing|finishing|heading_accuracy|short_passing|volleys|dribbling|curve|free_kick_accuracy|long_passing|ball_control|acceleration|sprint_speed|agility|reactions|balance|shot_power|jumping|stamina|strength|long_shots|aggression|interceptions|positioning|vision|penalties|marking|standing_tackle|sliding_tackle|gk_diving|gk_handling|gk_kicking|gk_positioning|gk_reflexes|
+-------------+------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
|        23499| 190.5|336|              2335|2016-04-21 00:00:00|            65|       65|         right|             medium|             medium|      49|       67|              78|           68|     56|       49|   43|                42|          39|          65|          51|          53|     44|       67|     52|        69|     70|     53|      82|        47|        77|           24|         67|    68|       73|     23|             20|            19|       12|         13|        10|            10|          9|
|        23499| 190.5|337|              2335|2016-01-07 00:00:00|            65|       65|         right|             medium|             medium|      49|       67|              78|           68|     56|       49|   43|                42|          39|          65|          51|          53|     44|       67|     52|        69|     70|     53|      82|        47|        75|           24|         67|    68|       73|     23|             20|            19|       12|         13|        10|            10|          9|
|        23499| 190.5|338|              2335|2015-10-02 00:00:00|            65|       65|         right|               high|             medium|      49|       67|              78|           68|     56|       49|   43|                42|          39|          65|          51|          53|     44|       67|     52|        69|     70|     53|      82|        47|        75|           24|         67|    68|       73|     23|             20|            19|       12|         13|        10|            10|          9|
|        23499| 190.5|339|              2335|2015-09-21 00:00:00|            67|       67|         right|               high|             medium|      49|       67|              78|           68|     56|       49|   43|                42|          39|          65|          51|          53|     44|       67|     52|        69|     70|     53|      82|        47|        75|           24|         75|    68|       73|     23|             20|            19|       12|         13|        10|            10|          9|
|        23499| 190.5|340|              2335|2015-02-27 00:00:00|            65|       65|         right|             medium|             medium|      48|       66|              77|           67|     55|       48|   42|                41|          38|          64|          54|          57|     44|       66|     52|        68|     67|     68|      81|        46|        74|           23|         74|    67|       72|     22|             25|            25|       11|         12|         9|             9|          8|
|        23499| 190.5|341|              2335|2015-01-02 00:00:00|            65|       65|         right|             medium|             medium|      48|       66|              77|           67|     55|       48|   42|                41|          38|          71|          54|          57|     44|       66|     52|        68|     67|     68|      81|        46|        74|           23|         74|    67|       72|     22|             25|            25|       11|         12|         9|             9|          8|
|        23499| 190.5|342|              2335|2014-10-02 00:00:00|            65|       65|         right|             medium|             medium|      48|       66|              77|           67|     55|       48|   42|                41|          38|          71|          54|          57|     44|       66|     52|        68|     67|     68|      81|        46|        74|           23|         74|    67|       72|     22|             25|            25|       11|         12|         9|             9|          8|
|        23499| 190.5|343|              2335|2014-09-18 00:00:00|            64|       64|         right|             medium|             medium|      48|       66|              77|           67|     55|       48|   42|                41|          38|          71|          34|          53|     44|       66|     52|        68|     67|     68|      81|        46|        74|           23|         74|    67|       72|     22|             25|            25|       11|         12|         9|             9|          8|
|        23499| 190.5|344|              2335|2014-01-31 00:00:00|            63|       63|         right|             medium|             medium|      48|       66|              77|           65|     55|       48|   42|                41|          38|          70|          34|          54|     44|       62|     52|        68|     66|     63|      81|        43|        72|           23|         74|    67|       72|     22|             25|            25|       24|         23|        21|            21|         25|
|        23499| 190.5|345|              2335|2014-01-10 00:00:00|            63|       63|         right|             medium|             medium|      48|       66|              77|           64|     55|       48|   42|                41|          38|          68|          34|          54|     44|       62|     52|        68|     66|     63|      81|        43|        72|           23|         72|    64|       72|     22|             25|            25|       24|         23|        21|            21|         25|
|        23499| 190.5|346|              2335|2013-09-20 00:00:00|            63|       63|         right|             medium|             medium|      48|       66|              77|           64|     55|       48|   42|                41|          38|          68|          34|          54|     44|       62|     52|        68|     66|     63|      81|        43|        72|           23|         72|    64|       72|     22|             25|            25|       24|         23|        21|            21|         25|
|        23499| 190.5|347|              2335|2013-02-15 00:00:00|            63|       63|         right|             medium|             medium|      48|       66|              75|           60|     55|       48|   42|                41|          38|          65|          53|          54|     48|       62|     61|        68|     73|     54|      79|        43|        72|           23|         69|    64|       72|     22|             19|            18|       24|         23|        21|            21|         25|
|        23499| 190.5|348|              2335|2012-08-31 00:00:00|            62|       62|         right|             medium|             medium|      48|       66|              75|           56|     55|       48|   42|                41|          38|          61|          53|          54|     48|       60|     54|        68|     73|     48|      79|        43|        72|           23|         67|    58|       72|     22|             19|            18|       24|         23|        21|            21|         25|
|        23499| 190.5|349|              2335|2012-02-22 00:00:00|            61|       61|         right|             medium|             medium|      48|       66|              75|           45|     55|       42|   42|                41|          38|          54|          53|          54|     33|       60|     56|        68|     68|     48|      79|        43|        65|           23|         64|    43|       72|     22|             19|            18|       33|         30|        39|            31|         30|
|        23499| 190.5|350|              2335|2011-08-30 00:00:00|            61|       61|         right|             medium|             medium|      48|       66|              75|           45|     55|       42|   42|                41|          38|          54|          53|          54|     33|       60|     56|        68|     68|     48|      79|        43|        65|           23|         64|    43|       72|     22|             19|            18|       14|         13|         7|            11|         15|
|        23499| 190.5|351|              2335|2011-02-22 00:00:00|            62|       65|         right|             medium|             medium|      48|       69|              75|           45|     55|       45|   51|                41|          38|          54|          63|          64|     36|       60|     67|        68|     79|     61|      82|        48|        65|           23|         64|    53|       54|     22|             19|            18|       14|         13|         7|            11|         15|
|        23499| 190.5|352|              2335|2010-08-30 00:00:00|            60|       62|         right|             medium|             medium|      48|       64|              71|           45|     55|       45|   51|                41|          38|          54|          63|          63|     36|       60|     65|        65|     83|     61|      81|        48|        60|           23|         62|    53|       53|     22|             19|            18|       14|         13|         7|            11|         15|
|        23499| 190.5|353|              2335|2009-08-30 00:00:00|            62|       67|         right|             medium|             medium|      48|       67|              71|           45|     55|       49|   51|                41|          38|          57|          63|          63|     36|       60|     65|        65|     83|     58|      67|        58|        60|           51|         61|    53|       59|     22|             21|            18|       10|         21|        38|            21|         21|
|        23499| 190.5|354|              2335|2009-02-22 00:00:00|            60|       65|         right|             medium|             medium|      48|       65|              62|           40|     55|       49|   51|                41|          33|          57|          61|          63|     36|       60|     65|        63|     83|     58|      66|        58|        54|           49|         61|    53|       56|     22|             21|            18|       10|         21|        33|            21|         21|
|        23499| 190.5|355|              2335|2008-08-30 00:00:00|            58|       65|         right|             medium|             medium|      48|       63|              59|           40|     55|       49|   51|                41|          33|          57|          60|          60|     36|       56|     65|        60|     83|     60|      66|        58|        54|           49|         57|    53|       56|     32|             21|            18|       10|         21|        33|            21|         21|
+-------------+------+---+------------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+---------+----------------+-------------+-------+---------+-----+------------------+------------+------------+------------+------------+-------+---------+-------+----------+-------+-------+--------+----------+----------+-------------+-----------+------+---------+-------+---------------+--------------+---------+-----------+----------+--------------+-----------+
only showing top 20 rows

## Agregaciones

Las agregaciones se realizan con la secuencia de operaciones siguientes:

`groupBy` + `agg (función[.alias()])`

`groubBy` + `función de agregación` -- `sum / mean / max / min ...` `[.withColumnRenamed]`

`groupBy` + `agg ({'campo':'funcion_de_agregacion})`
..

In [112]:
añadido.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [116]:
añadido.groupby('categoria_xelenial').mean('median_house_value').withColumnRenamed('avg(median_house_value)','media_valor').show()

+------------------+------------------+
|categoria_xelenial|       media_valor|
+------------------+------------------+
|            IGNORE|150011.30985915492|
|            TARGET|250504.73766414644|
|       CUASITARGET|133579.02144288577|
+------------------+------------------+

In [117]:
añadido.groupby('categoria_xelenial').mean('median_house_value').show()

+------------------+-----------------------+
|categoria_xelenial|avg(median_house_value)|
+------------------+-----------------------+
|            IGNORE|     150011.30985915492|
|            TARGET|     250504.73766414644|
|       CUASITARGET|     133579.02144288577|
+------------------+-----------------------+

In [118]:


añadido.groupby('categoria_xelenial').agg(F.mean("median_house_value").alias("media")).show()

+------------------+------------------+
|categoria_xelenial|             media|
+------------------+------------------+
|            IGNORE|150011.30985915492|
|            TARGET|250504.73766414644|
|       CUASITARGET|133579.02144288577|
+------------------+------------------+

In [119]:
añadido.groupby('categoria_xelenial').agg(F.count_distinct('median_house_value').alias('conteo')).show()

+------------------+------+
|categoria_xelenial|conteo|
+------------------+------+
|            IGNORE|    63|
|            TARGET|  3269|
|       CUASITARGET|  1763|
+------------------+------+

In [120]:
atributos.groupBy('preferred_foot').agg(F.count_distinct('player_api_id').alias('tipo')).show()

+--------------+----+
|preferred_foot|tipo|
+--------------+----+
|          null| 756|
|          left|3202|
|         right|8979|
+--------------+----+

In [121]:
atributos.groupBy('preferred_foot').agg(F.first('player_api_id').alias('elprimero')).show()

+--------------+---------+
|preferred_foot|elprimero|
+--------------+---------+
|          null|    31684|
|          left|   155782|
|         right|   505942|
+--------------+---------+

In [122]:
atributos.groupBy('preferred_foot').mean('overall_rating').show()

+--------------+-------------------+
|preferred_foot|avg(overall_rating)|
+--------------+-------------------+
|          null|               null|
|          left|   68.6261820132788|
|         right|  68.59155835241928|
+--------------+-------------------+

In [123]:
resultado.groupBy('preferred_foot').mean('overall_rating').withColumnRenamed('avg(overall_rating)','media').show()

+--------------+-----------------+
|preferred_foot|            media|
+--------------+-----------------+
|          null|             null|
|          left| 68.6261820132788|
|         right|68.59155835241928|
+--------------+-----------------+

In [124]:
%%time
resultado.groupBy('preferred_foot').sum('overall_rating').withColumnRenamed('sum(overall_rating)','total').show()

+--------------+-------+
|preferred_foot|  total|
+--------------+-------+
|          null|   null|
|          left|3069855|
|         right|9493689|
+--------------+-------+

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 1.18 s

In [126]:
from pyspark.sql.functions import udf
@udf
def funcioncita (cosa, cosa2):
  return xx

# SQL

SPARL SQL es una librería que funciona sobre SPARK Core. Permite gestionar tus datos sobre SPARK como si se tratase de SQL, facilitando la interacción con el usuario.

Spark, por defecto, utiliza Apache Hive para guardar todos los metadatos sobre las tablas que se almacenan (hive metastore). Del mismo modo, spark permite crear tablas gestionadas o no gestionadas.

Para una tabla gestionada, Spark gestion datos y metadatos en el archivo, que puede ser un sistema de ficheros, HDFS o Storage en GCP. Para una tabla sin gestionar, Spark sólo guarda los metadatos mientras que tú gesitionas esa información.

De este modo, si se realiza una operación de creación o borrado en una tabla sin gestionar desde spark, sólo se borraran los metadatos, pero los datos se mantendrán.

Esta información se puede gestionar en la configuración de Spark.

Del mismo modo, Spark puede crear **vistas** para consultar la información con Spark SQL. Las vistas pueden ser globales o locales a la sesión y desaparecen cuando la sesión de Spark desaparece.

En los ejemplos subsiguientes nosotros sólo manejaremos vistas.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Información de tráfico aéreo") \
    .getOrCreate()

In [127]:
airlines = spark.read\
                .format("csv")\
                .option("header", "true")\
                .load('airlines.csv')

In [128]:
airlines

DataFrame[Name: string,  IATA: string,  ICAO: string,  Country: string,  Active: string]

Las vistas temporales están ligadas a esta sesión y app. Si quisiéramos una vista que estuviera ligada a todas las sesiones, deberíamos seleccionar GlobalTempView

In [129]:
airlines.createOrReplaceTempView("airlines")

In [130]:
airlines

DataFrame[Name: string,  IATA: string,  ICAO: string,  Country: string,  Active: string]

In [131]:
airlines = spark.sql("SELECT * FROM airlines")
airlines.columns

['Name', ' IATA', ' ICAO', ' Country', ' Active']

In [132]:
type(airlines)

pyspark.sql.dataframe.DataFrame

In [133]:
airlines.show(1)

+----------+-----+-----+---------+-------+
|      Name| IATA| ICAO|  Country| Active|
+----------+-----+-----+---------+-------+
|Air Asia X|   ZM|  IDX|Indonesia|      Y|
+----------+-----+-----+---------+-------+
only showing top 1 row

In [134]:
airlines.show()

+--------------------+-----+-----+--------------+-------+
|                Name| IATA| ICAO|       Country| Active|
+--------------------+-----+-----+--------------+-------+
|          Air Asia X|   ZM|  IDX|     Indonesia|      Y|
|            Alghanim|   ZL|  KYA| United States|      Y|
|Norwegian Air Int...|   ZK|  IBK|        Norway|      Y|
|Boliviana de Avia...|   ZI|  BOV|       Bolivia|      Y|
| AtlasGlobal Ukraine|   ZH|  UJX|       Ukraine|      Y|
|           Pouya Air|   ZE|  PYA|          Iran|      Y|
|Mann Yadanarpon A...|   ZB|  MYP|         Burma|      Y|
|               BA101|   Z9|  710|United Kingdom|      Y|
| Fly Africa Zimbabwe|   Z6|  FZW|      Zimbabwe|      Y|
|           Jet Suite|   Z4|  RSP| United States|      Y|
|FTI Fluggesellschaft|   Z3|  FTI|       Germany|      N|
|              Go2Sky|   Z2|  RLX|      Slovakia|      Y|
|          Tomsk-Avia|   YT|  TKS|        Russia|      Y|
|     Simrik Airlines|   YQ|  RMK|         Nepal|      Y|
|      Russkie Krylya|   YO|  KRY|        Russia|      Y|
|              FLYJET|   YM|  FYJ|        Poland|      Y|
|Comfort Express V...|   YK|  EVC| United States|      Y|
|Golden Myanmar Ai...|   YC|  GMR|         Burma|      Y|
|Nurnberger Flugdi...|   Y9|  NFD|       Germany|      N|
|Eastern Atlantic ...|   Y8|  EDI| United States|      N|
+--------------------+-----+-----+--------------+-------+
only showing top 20 rows

In [138]:
vuelos = spark.read\
                .format("csv")\
                .option("header", "true")\
                .load('flights.csv')

In [139]:
## Generación de una vista temporal en la sesión sobre una bbdd por defecto

vuelos.createOrReplaceTempView("vuelos")
vuelos = spark.sql("SELECT * FROM vuelos")

In [140]:
vuelos.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         3|        4|   2003|      1955|   2211|      2225|           WN|      335| N712SW|              128|           150|    116|     -14|       8|   IAD| TPA|     810|     4|      8|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    754|       735|   1002|      1000|           WN|     3231| N772SW|              128|           145|    113|       2|      19|   IAD| TPA|     810|     5|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    628|       620|    804|       750|           WN|      448| N428WN|               96|            90|     76|      14|       8|   IND| BWI|     515|     3|     17|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    926|       930|   1054|      1100|           WN|     1746| N612SW|               88|            90|     78|      -6|      -4|   IND| BWI|     515|     3|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1829|      1755|   1959|      1925|           WN|     3920| N464WN|               90|            90|     77|      34|      34|   IND| BWI|     515|     3|     10|        0|            null|       0|           2|           0|       0|            0|               32|
|2008|    1|         3|        4|   1940|      1915|   2121|      2110|           WN|      378| N726SW|              101|           115|     87|      11|      25|   IND| JAX|     688|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1937|      1830|   2037|      1940|           WN|      509| N763SW|              240|           250|    230|      57|      67|   IND| LAS|    1591|     3|      7|        0|            null|       0|          10|           0|       0|            0|               47|
|2008|    1|         3|        4|   1039|      1040|   1132|      1150|           WN|      535| N428WN|              233|           250|    219|     -18|      -1|   IND| LAS|    1591|     7|      7|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    617|       615|    652|       650|           WN|       11| N689SW|               95|            95|     70|       2|       2|   IND| MCI|     451|     6|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1620|      1620|   1639|      1655|           WN|      810| N648SW|               79|            95|     70|     -16|       0|   IND| MCI|     451|     3|      6|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    706|       700|    916|       915|           WN|      100| N690SW|              130|           135|    106|       1|       6|   IND| MCO|     828|     5|     19|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1644|      1510|   1845|      1725|           WN|     1333| N334SW|              121|           135|    107|      80|      94|   IND| MCO|     828|     6|      8|        0|            null|       0|           8|           0|       0|            0|               72|
|2008|    1|         3|        4|   1426|      1430|   1426|      1425|           WN|      829| N476WN|               60|            55|     39|       1|      -4|   IND| MDW|     162|     9|     12|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|    715|       715|    720|       710|           WN|     1016| N765SW|               65|            55|     37|      10|       0|   IND| MDW|     162|     7|     21|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1702|      1700|   1651|      1655|           WN|     1827| N420WN|               49|            55|     35|      -4|       2|   IND| MDW|     162|     4|     10|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1029|      1020|   1021|      1010|           WN|     2272| N263WN|               52|            50|     37|      11|       9|   IND| MDW|     162|     6|      9|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1452|      1425|   1640|      1625|           WN|      675| N286WN|              228|           240|    213|      15|      27|   IND| PHX|    1489|     7|      8|        0|            null|       0|           3|           0|       0|            0|               12|
|2008|    1|         3|        4|    754|       745|    940|       955|           WN|     1144| N778SW|              226|           250|    205|     -15|       9|   IND| PHX|    1489|     5|     16|        0|            null|       0|          NA|          NA|      NA|           NA|               NA|
|2008|    1|         3|        4|   1323|      1255|   1526|      1510|           WN|        4| N674AA|              123|           135|    110|      16|      28|   IND| TPA|     838|     4|      9|        0|            null|       0|           0|           0|       0|            0|               16|
|2008|    1|         3|        4|   1416|      1325|   1512|      1435|           WN|       54| N643SW|               56|            70|     49|      37|      51|   ISP| BWI|     220|     2|      5|        0|            null|       0|          12|           0|       0|            0|               25|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [141]:
vuelos.count()

100000

In [142]:
spark.sql("select count(*) as registros from vuelos").show()

+---------+
|registros|
+---------+
|   100000|
+---------+

In [143]:
spark.sql("select sum(distance) as distancia_total from vuelos").show()

+---------------+
|distancia_total|
+---------------+
|    6.3058632E7|
+---------------+

In [144]:


total_distance_df = spark.sql("SELECT distance FROM vuelos")\
                         .agg({"distance":"sum"})\
                         .withColumnRenamed("sum(distance)","distancia_total")

In [145]:
total_distance_df.show()

+---------------+
|distancia_total|
+---------------+
|    6.3058632E7|
+---------------+

In [149]:
spark.sql ("select dest, avg(DepDelay) as retraso from vuelos group by dest order by 2 desc ").show()

+----+------------------+
|dest|           retraso|
+----+------------------+
| SAV|              43.0|
| SFO| 36.82403433476395|
| ROC|              28.0|
| IAH|24.692307692307693|
| GSO|              22.5|
| BFL|21.333333333333332|
| MYR|              20.0|
| RIC|              19.0|
| SLC|  15.5960219478738|
| EWR|13.777777777777779|
| RNO| 13.55028157683025|
| OKC|13.497635933806146|
| PDX| 13.47018150388937|
| LAS|13.395097007068733|
| MRY|13.311926605504587|
| IAD|13.186274509803921|
| LAX|13.084322678843227|
| TUS| 12.71103896103896|
| DEN|12.643714466203411|
| BOI| 12.56043956043956|
+----+------------------+
only showing top 20 rows