De el enlace, es un JSON muy grande:
* https://servicios.ine.es/wstempus/js/es/DATOS_TABLA/33791?tip=AM
* Descargar la información
* Exponerla en un DataFrame

In [1]:
import requests
import pandas as pd
import mysql.connector

url = "https://servicios.ine.es/wstempus/js/es/DATOS_TABLA/33791?tip=AM"

# Realizar la solicitud GET a la API
response = requests.get(url)

# Obtener los datos de la respuesta en formato JSON
data = response.json()

# Convertir los datos en un dataframe
df = pd.DataFrame.from_records(data, columns=data[0].keys())

# Mostrar el dataframe
print(df)

              COD                                             Nombre  \
0       PC5694998                  Dato base. Total. Girona. Total.
1       PC5694997                 Dato base. Total. Girona. España.
2       PC5694996             Dato base. Total. Girona. Extranjero.
3       PC5694967    Dato base. Total. Girona. Europa (sin España).
4       PC5694966        Dato base. Total. Girona. UE28 sin España.
...           ...                                                ...
26635   PC4743757              Mujeres. Vilopriu. China. Dato base.
26636   PC4743756           Mujeres. Vilopriu. Pakistán. Dato base.
26637  PC22759807  Mujeres. Vilopriu. UE27_2020 sin España. Dato ...
26638   PC4743749            Mujeres. Vilopriu. Oceanía. Dato base.
26639  PC22759806  Mujeres. Vilopriu. Europa menos UE27_2020. Dat...

      T3_Unidad T3_Escala                                           MetaData  \
0      Personas            [{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...
1      Personas            [{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...
2      Personas            [{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...
3      Personas            [{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...
4      Personas            [{'Id': 72, 'Variable': {'Id': 3, 'Nombre': 'T...
...         ...       ...                                                ...
26635  Personas            [{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...
26636  Personas            [{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...
26637  Personas            [{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...
26638  Personas            [{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...
26639  Personas            [{'Id': 453, 'Variable': {'Id': 18, 'Nombre': ...

                                                    Data
0      [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
1      [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
2      [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
3      [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
4      [{'Fecha': '2020-01-01T00:00:00.000+01:00', 'T...
...                                                  ...
26635  [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
26636  [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
26637  [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
26638  [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...
26639  [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T...

[26640 rows x 6 columns]

__NUEVO EJERCICIO__
* Registrarse en http://www.air-port-codes.com
* Sacar dataframe con la información

In [ ]:
import requests
import pandas as pd

url = "https://www.air-port-codes.com/api/v1/multi?term=Spain"
auth = "9e2c0cd874"
secret = "29ec10f2ebc9f5d"

headers = {
    "APC-Auth": auth,
    "APC-Auth-Secret": secret
}

response = requests.post(url, headers=headers)

data = response.json()
df = pd.DataFrame(data['airports'])
df

In [ ]:
data['airports']

In [ ]:
url2 = "https://www.air-port-codes.com/api/v1/countries"

headers2 = {
    "APC-Auth": auth,
    "APC-Auth-Secret": secret
}

response = requests.get(url2, headers=headers2)

data2 = response.json()
df2 = pd.DataFrame(data2['countries'])
df2

In [ ]:
data2

In [ ]:
nombre = data2['countries']
nombre[1]['name']

In [ ]:
nombres_paises = []
for pais in data2['countries']:
    nombres = pais['name']
    nombres_paises.append(nombres)
    
nombres_paises

In [ ]:
dataframes_paises = []
for pais in nombres_paises:
    try:
        url = f"https://www.air-port-codes.com/api/v1/multi?term={pais}"
        response = requests.get(url, headers=headers)
        data3 = response.json()
    
        if 'airports' in data3:
            df_pais = pd.DataFrame(data3['airports'])
            dataframes_paises.append(df_pais)
    except Exception as e:
         print(e)
    
#Combinar los DataFrames de todos los países en uno solo
#df_completo = pd.concat(dataframes_paises)

Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)
Expecting value: line 1 column 1 (char 0)

In [ ]:
#df_completo

In [ ]:
#MÉTODO NO EFICAZ
"""nom_state = []

for state in df_completo['state']:
    state_name = state['name']
    nom_state.append(state_name) """

In [ ]:
""" nom_country = []

for country in df_completo['country']:
    country_name = country['name']
    nom_country.append(country_name) """

In [ ]:
"""df_completo['country'] = nom_country
df_completo['state'] = nom_state """

In [ ]:
#df_completo

In [ ]:
dataframes_paises[0]['country'][0]['name']

In [ ]:
#MÉTODO EFICAZ
airports_clean = []

for airport in dataframes_paises:
    
    airport['country_name'] = airport['country'][0]['name']
    airport['country_code'] = airport['country'][0]['iso']
    airport['state'] = airport['state'][0]['name']
    del airport['country']
    
    airports_clean.append(airport)
    
airports_clean

In [ ]:
df_airports = pd.concat(airports_clean, ignore_index=True)
df_airports

In [ ]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Pepito.08")

In [ ]:
cursor = db.cursor()

In [ ]:
cursor.execute("CREATE DATABASE aeropuertos")
cursor.execute("USE aeropuertos")
cursor.execute("""
    CREATE TABLE airports (
    name varchar(60),
    city varchar(60),
    iata char(3),
    latitude varchar(11),
    longitude varchar(11),
    state varchar(60),
    country_name varchar(60),
    country_code char(2)
    );
""")

In [ ]:
df_airports.keys()

In [ ]:
df_airports['city']

In [ ]:
for airport in df_airports:
    
    #Limpiamos los nombres de las columnas
    cols = ''
    
    #Recorremos las keys del objeto airport para obtener las columnas
    for col in df_completo.keys():
        #Para cada columna la guardamos en cols
        #concatenando los valores y separando por ,
        cols = cols + col + ', '
        print(cols)
    
    # Borramos el espacio final y la última ,
    cols = cols.strip()[:-1]
        
    vals = ''
    
    # Se repite el proceso de las columnas con los valores
    for val in df_airports:
        vals = vals + "'" + val + "', "
    vals = vals.strip()[:-1]
        
    
    # Se insertan las columnas y los valores en la query SQL
    query = f"""
        INSERT INTO 
            airports ({cols})
        VALUES ({vals})
            """
    
    #Se ejecuta la query y se guarda la BDD
    cursor.execute(query)
    db.commit()